<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css?_v=20241011214718">
    <link rel="stylesheet" href="/css/style.min.css?_v=20241011214718">
    <title>Mali - Main</title>
    
  </head>
<body>

    

    {{{body}}}
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js?_v=20241011214718"></script>
    <script src="/js/app.min.js?_v=20241011214718"> </script>
    {{!-- <script src="/js/test.js"> </script> --}}
    
</body>
</html>