<div class="wrapper">
    {{> en/nav}}
    {{!-- <header class="header">
      <div class="container">
        <div class="header-top">
          <div class="header__lang"> <a class="header__lang-item ru" href="#">RU </a><a
              class="header__lang-item uz active" href="#">UZ</a><a class="header__lang-item en" href="#">EN</a></div><a
            class="header-address" href="https://maps.app.goo.gl/Qh8VSzPJHvmbTETdA">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <mask id="mask0_102_895" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                height="20">
                <rect width="20" height="20" fill="#D9D9D9" />
              </mask>
              <g mask="url(#mask0_102_895)">
                <path
                  d="M10.0044 10C10.4181 10 10.7708 9.85271 11.0625 9.55813C11.3542 9.26354 11.5 8.90937 11.5 8.49562C11.5 8.08187 11.3527 7.72917 11.0581 7.4375C10.7635 7.14583 10.4094 7 9.99563 7C9.58188 7 9.22917 7.14729 8.9375 7.44188C8.64583 7.73646 8.5 8.09063 8.5 8.50438C8.5 8.91813 8.64729 9.27083 8.94187 9.5625C9.23646 9.85417 9.59062 10 10.0044 10ZM10 16.0208C11.6528 14.5347 12.8993 13.1667 13.7396 11.9167C14.5799 10.6667 15 9.54861 15 8.5625C15 7.10417 14.5243 5.89583 13.5729 4.9375C12.6215 3.97917 11.4306 3.5 10 3.5C8.56944 3.5 7.37847 3.97917 6.42708 4.9375C5.47569 5.89583 5 7.10417 5 8.5625C5 9.54861 5.42014 10.6667 6.26042 11.9167C7.10069 13.1667 8.34722 14.5347 10 16.0208ZM10 18C7.81986 16.179 6.19146 14.4877 5.11479 12.926C4.03826 11.3642 3.5 9.90972 3.5 8.5625C3.5 6.70139 4.11806 5.14236 5.35417 3.88542C6.59028 2.62847 8.13542 2 9.98958 2C11.8438 2 13.3924 2.62847 14.6354 3.88542C15.8785 5.14236 16.5 6.70139 16.5 8.5625C16.5 9.90972 15.9653 11.3611 14.8958 12.9167C13.8264 14.4722 12.1944 16.1667 10 18Z"
                  fill="currentColor" />
              </g>
            </svg>
            <h3>Tashkent, Parkent street 327</h3>
          </a><a class="header-phone" href="tel:+998712003005">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <mask id="mask0_102_903" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                height="20">
                <rect width="20" height="20" fill="#D9D9D9" />
              </mask>
              <g mask="url(#mask0_102_903)">
                <path
                  d="M2.89579 16.8958L1.24995 15.2292C1.05551 15.0347 0.954813 14.8021 0.947869 14.5312C0.940925 14.2604 1.03467 14.0278 1.22912 13.8333C2.32634 12.6528 3.62495 11.7188 5.12495 11.0312C6.62495 10.3438 8.24995 10 9.99995 10C11.75 10 13.375 10.3438 14.875 11.0312C16.375 11.7188 17.6736 12.6528 18.7708 13.8333C18.9652 14.0278 19.059 14.2604 19.052 14.5312C19.0451 14.8021 18.9444 15.0347 18.75 15.2292L17.1041 16.8958C16.9513 17.0486 16.7569 17.1458 16.5208 17.1875C16.2847 17.2292 16.0486 17.1667 15.8125 17L13.4166 15.2917C13.2916 15.1944 13.1909 15.0729 13.1145 14.9271C13.0381 14.7813 13 14.6344 13 14.4865V11.9583C12.5138 11.8056 12.0226 11.691 11.5262 11.6146C11.0298 11.5382 10.5211 11.5 9.99995 11.5C9.47884 11.5 8.97009 11.5382 8.4737 11.6146C7.97731 11.691 7.48606 11.8056 6.99995 11.9583V14.4865C6.99995 14.6344 6.96176 14.7813 6.88537 14.9271C6.80898 15.0729 6.70829 15.1944 6.58329 15.2917L4.18745 17C3.95134 17.1667 3.71176 17.2257 3.4687 17.1771C3.22565 17.1285 3.03467 17.0347 2.89579 16.8958ZM5.49995 12.3542C4.98606 12.6042 4.48954 12.9028 4.01037 13.25C3.5312 13.5972 3.07634 13.9722 2.64579 14.375L3.66662 15.3958L5.49995 14.0833V12.3542ZM14.5 12.3542V14.0833L16.3333 15.3958L17.3541 14.375C16.9236 13.9583 16.4722 13.5799 16 13.2396C15.5277 12.8993 15.0277 12.6042 14.5 12.3542ZM9.24995 6V2H10.75V6H9.24995ZM14.4375 8.22917L13.375 7.16667L16.2083 4.33333L17.2708 5.39583L14.4375 8.22917ZM5.56245 8.22917L2.72912 5.39583L3.79162 4.33333L6.62495 7.16667L5.56245 8.22917Z"
                  fill="currentColor" />
              </g>
            </svg>
            <h3>+998 71 200 30 05</h3>
          </a>
          <div class="header-right"> <a class="header-search" href="/search-uz.html">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_102_908" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                  height="20">
                  <rect width="20" height="20" fill="" />
                </mask>
                <g mask="url(#mask0_102_908)">
                  <path
                    d="M15.9375 17L10.9583 12.0208C10.5417 12.3264 10.0848 12.566 9.58771 12.7396C9.09063 12.9132 8.5616 13 8.00063 13C6.61132 13 5.43056 12.5139 4.45833 11.5417C3.48611 10.5694 3 9.38889 3 8C3 6.61111 3.48611 5.43056 4.45833 4.45833C5.43056 3.48611 6.61111 3 8 3C9.38889 3 10.5694 3.48611 11.5417 4.45833C12.5139 5.43056 13 6.61132 13 8.00063C13 8.5616 12.9132 9.09063 12.7396 9.58771C12.566 10.0848 12.3264 10.5417 12.0208 10.9583L17 15.9375L15.9375 17ZM8 11.5C8.97222 11.5 9.79861 11.1597 10.4792 10.4792C11.1597 9.79861 11.5 8.97222 11.5 8C11.5 7.02778 11.1597 6.20139 10.4792 5.52083C9.79861 4.84028 8.97222 4.5 8 4.5C7.02778 4.5 6.20139 4.84028 5.52083 5.52083C4.84028 6.20139 4.5 7.02778 4.5 8C4.5 8.97222 4.84028 9.79861 5.52083 10.4792C6.20139 11.1597 7.02778 11.5 8 11.5Z"
                    fill="currentColor" />
                </g>
              </svg></a>
            <ul class="header__social">
              <li class="header__social-item"><a href="#">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_102_885)">
                      <path
                        d="M10 0C15.5225 0 20 4.4775 20 10C20 15.5225 15.5225 20 10 20C4.4775 20 0 15.5225 0 10C0 4.4775 4.4775 0 10 0ZM14.9483 6.42556C15.2133 4.83481 14.6818 4.69732 12.9498 5.41548C12.2893 5.68994 7.50599 7.67256 3.80941 9.29873C2.88765 9.70435 2.66236 10.1264 3.61163 10.4521C3.85806 10.5367 4.49108 10.7589 5.13944 10.945C5.99721 11.1914 6.47528 11.0365 6.97292 10.6986C7.00853 10.6744 7.07055 10.6327 7.1552 10.5761L7.29868 10.4803C7.80379 10.1432 8.77707 9.49639 9.815 8.80737L10.1445 8.5887C10.2547 8.51554 10.3651 8.44223 10.4754 8.36908L10.8049 8.1504C11.1329 7.93281 11.4546 7.71942 11.7573 7.51866C11.9667 7.37958 12.1947 7.66462 12.0133 7.83808C11.7969 8.04449 11.5709 8.2601 11.3425 8.478L11.0679 8.74013C9.92269 9.83328 8.79147 10.9148 8.57952 11.1222C7.89912 11.7879 8.31062 12.1611 8.72017 12.4574L8.81786 12.5272L8.86563 12.5611C8.90586 12.5899 8.95819 12.6265 9.02056 12.6696L9.2358 12.8169C10.0402 13.3639 11.6456 14.4256 12.0127 14.668C12.9287 15.2725 13.5115 15.107 13.7711 13.7098C14.209 11.3538 14.7579 7.5689 14.9483 6.42556Z"
                        fill="currentColor" />
                    </g>
                    <defs>
                      <clipPath id="clip0_102_885">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg></a></li>
              <li class="header__social-item"><a href="#">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_102_890)">
                      <path
                        d="M10 0C4.4775 0 0 4.50057 0 10.0515C0 15.0907 3.69333 19.252 8.505 19.9791V12.7152H6.03083V10.0733H8.505V8.31511C8.505 5.40436 9.91583 4.12698 12.3225 4.12698C13.475 4.12698 14.085 4.21326 14.3733 4.25179V6.55778H12.7317C11.71 6.55778 11.3533 7.53193 11.3533 8.62922V10.0733H14.3475L13.9417 12.7152H11.3533V20C16.2342 19.3349 20 15.1401 20 10.0515C20 4.50057 15.5225 0 10 0Z"
                        fill="currentColor" />
                    </g>
                    <defs>
                      <clipPath id="clip0_102_890">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg> </a></li>
              <li class="header__social-item"><a href="#">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_102_892)">
                      <path
                        d="M6.05269 0C2.71532 0 6.10352e-05 2.71526 6.10352e-05 6.05263V13.9474C6.10352e-05 17.2847 2.71532 20 6.05269 20H13.9474C17.2848 20 20.0001 17.2847 20.0001 13.9474V6.05263C20.0001 2.71526 17.2848 0 13.9474 0H6.05269ZM15.2632 3.68421C15.8448 3.68421 16.3159 4.15526 16.3159 4.73684C16.3159 5.31789 15.8448 5.78947 15.2632 5.78947C14.6816 5.78947 14.2106 5.31789 14.2106 4.73684C14.2106 4.15526 14.6816 3.68421 15.2632 3.68421ZM10.0001 4.73684C12.9022 4.73684 15.2632 7.0979 15.2632 10C15.2632 12.9021 12.9022 15.2632 10.0001 15.2632C7.09796 15.2632 4.7369 12.9021 4.7369 10C4.7369 7.0979 7.09796 4.73684 10.0001 4.73684ZM10.0001 6.31579C9.51624 6.31579 9.03716 6.41108 8.59018 6.59623C8.14319 6.78138 7.73704 7.05276 7.39493 7.39487C7.05282 7.73698 6.78144 8.14313 6.59629 8.59011C6.41115 9.0371 6.31585 9.51618 6.31585 10C6.31585 10.4838 6.41115 10.9629 6.59629 11.4099C6.78144 11.8569 7.05282 12.263 7.39493 12.6051C7.73704 12.9472 8.14319 13.2186 8.59018 13.4038C9.03716 13.5889 9.51624 13.6842 10.0001 13.6842C10.4839 13.6842 10.963 13.5889 11.4099 13.4038C11.8569 13.2186 12.2631 12.9472 12.6052 12.6051C12.9473 12.263 13.2187 11.8569 13.4038 11.4099C13.589 10.9629 13.6843 10.4838 13.6843 10C13.6843 9.51618 13.589 9.0371 13.4038 8.59011C13.2187 8.14313 12.9473 7.73698 12.6052 7.39487C12.2631 7.05276 11.8569 6.78138 11.4099 6.59623C10.963 6.41108 10.4839 6.31579 10.0001 6.31579Z"
                        fill="currentColor" />
                    </g>
                    <defs>
                      <clipPath id="clip0_102_892">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg></a></li>
            </ul>
          </div>
        </div>
        <div class="header-main">
          <div class="header__logo"> <a class="header__logo-link" href="/index-uz.html"><img src="/img/logo_mali.svg"
                alt="alt"></a>
            <h3>Fresh Frozen Products Manufacturing</h3>
          </div>
          <nav class="nav">
            <ul class="nav__list">
              <li class="nav__list-item"> <a class="nav__list-link" href="/about/uz">about us</a></li>
              <li class="nav__list-item"> <a class="nav__list-link" href="/catalog/uz">products</a></li>
              <li class="nav__list-item"> <a class="nav__list-link" href="/contact/uz">contact</a></li>
            </ul>
          </nav><a class="button" href="#program">become a partner </a>
        </div>
        <div class="header__mobile">
          <div class="header__mobile-top"> <a class="header__mobile-logo" href="/index-uz.html"> <img
                src="/img/logo_mali.svg" alt="alt"></a>
            <div class="header__mobile-list"> <a class="header__mobile-link" href="#">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <mask id="mask0_102_895" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                    height="20">
                    <rect width="20" height="20" fill="#D9D9D9" />
                  </mask>
                  <g mask="url(#mask0_102_895)">
                    <path
                      d="M10.0044 10C10.4181 10 10.7708 9.85271 11.0625 9.55813C11.3542 9.26354 11.5 8.90937 11.5 8.49562C11.5 8.08187 11.3527 7.72917 11.0581 7.4375C10.7635 7.14583 10.4094 7 9.99563 7C9.58188 7 9.22917 7.14729 8.9375 7.44188C8.64583 7.73646 8.5 8.09063 8.5 8.50438C8.5 8.91813 8.64729 9.27083 8.94187 9.5625C9.23646 9.85417 9.59062 10 10.0044 10ZM10 16.0208C11.6528 14.5347 12.8993 13.1667 13.7396 11.9167C14.5799 10.6667 15 9.54861 15 8.5625C15 7.10417 14.5243 5.89583 13.5729 4.9375C12.6215 3.97917 11.4306 3.5 10 3.5C8.56944 3.5 7.37847 3.97917 6.42708 4.9375C5.47569 5.89583 5 7.10417 5 8.5625C5 9.54861 5.42014 10.6667 6.26042 11.9167C7.10069 13.1667 8.34722 14.5347 10 16.0208ZM10 18C7.81986 16.179 6.19146 14.4877 5.11479 12.926C4.03826 11.3642 3.5 9.90972 3.5 8.5625C3.5 6.70139 4.11806 5.14236 5.35417 3.88542C6.59028 2.62847 8.13542 2 9.98958 2C11.8438 2 13.3924 2.62847 14.6354 3.88542C15.8785 5.14236 16.5 6.70139 16.5 8.5625C16.5 9.90972 15.9653 11.3611 14.8958 12.9167C13.8264 14.4722 12.1944 16.1667 10 18Z"
                      fill="currentColor" />
                  </g>
                </svg></a><a class="header__mobile-link" href="#">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <mask id="mask0_102_903" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                    height="20">
                    <rect width="20" height="20" fill="#D9D9D9" />
                  </mask>
                  <g mask="url(#mask0_102_903)">
                    <path
                      d="M2.89579 16.8958L1.24995 15.2292C1.05551 15.0347 0.954813 14.8021 0.947869 14.5312C0.940925 14.2604 1.03467 14.0278 1.22912 13.8333C2.32634 12.6528 3.62495 11.7188 5.12495 11.0312C6.62495 10.3438 8.24995 10 9.99995 10C11.75 10 13.375 10.3438 14.875 11.0312C16.375 11.7188 17.6736 12.6528 18.7708 13.8333C18.9652 14.0278 19.059 14.2604 19.052 14.5312C19.0451 14.8021 18.9444 15.0347 18.75 15.2292L17.1041 16.8958C16.9513 17.0486 16.7569 17.1458 16.5208 17.1875C16.2847 17.2292 16.0486 17.1667 15.8125 17L13.4166 15.2917C13.2916 15.1944 13.1909 15.0729 13.1145 14.9271C13.0381 14.7813 13 14.6344 13 14.4865V11.9583C12.5138 11.8056 12.0226 11.691 11.5262 11.6146C11.0298 11.5382 10.5211 11.5 9.99995 11.5C9.47884 11.5 8.97009 11.5382 8.4737 11.6146C7.97731 11.691 7.48606 11.8056 6.99995 11.9583V14.4865C6.99995 14.6344 6.96176 14.7813 6.88537 14.9271C6.80898 15.0729 6.70829 15.1944 6.58329 15.2917L4.18745 17C3.95134 17.1667 3.71176 17.2257 3.4687 17.1771C3.22565 17.1285 3.03467 17.0347 2.89579 16.8958ZM5.49995 12.3542C4.98606 12.6042 4.48954 12.9028 4.01037 13.25C3.5312 13.5972 3.07634 13.9722 2.64579 14.375L3.66662 15.3958L5.49995 14.0833V12.3542ZM14.5 12.3542V14.0833L16.3333 15.3958L17.3541 14.375C16.9236 13.9583 16.4722 13.5799 16 13.2396C15.5277 12.8993 15.0277 12.6042 14.5 12.3542ZM9.24995 6V2H10.75V6H9.24995ZM14.4375 8.22917L13.375 7.16667L16.2083 4.33333L17.2708 5.39583L14.4375 8.22917ZM5.56245 8.22917L2.72912 5.39583L3.79162 4.33333L6.62495 7.16667L5.56245 8.22917Z"
                      fill="currentColor" />
                  </g>
                </svg></a></div>
            <button class="header__mobile-burger" type="button"><svg width="40" height="40" viewBox="0 0 40 40"
                fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_59_7145" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="40"
                  height="40">
                  <rect width="40" height="40" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_59_7145)">
                  <path d="M5 30V27.2221H35V30H5ZM5 21.3888V18.6112H35V21.3888H5ZM5 12.7779V10H35V12.7779H5Z"
                    fill="black" />
                </g>
              </svg>
            </button>
          </div><a class="header__mobile-btn button" href="#">become a partner </a>
        </div>
        <div class="header__bar">
          <div class="header__bar-inner">
            <div class="header__bar-exit">
              <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_59_10516" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="40"
                  height="40">
                  <rect width="40" height="40" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_59_10516)">
                  <path
                    d="M10.472 31.4721L8.52783 29.5279L18.0553 20L8.52783 10.4721L10.472 8.52792L19.9999 18.0554L29.5278 8.52792L31.472 10.4721L21.9445 20L31.472 29.5279L29.5278 31.4721L19.9999 21.9446L10.472 31.4721Z"
                    fill="black" />
                </g>
              </svg>
            </div>
            <div class="header__logo"> <a class="header__logo-link" href="/uz"><img src="/img/logo_mali.svg"
                  alt="alt"></a>
              <h3>Fresh Frozen Products Manufacturing</h3>
            </div>
            <div class="header__lang"> <a class="header__lang-item ru" href="#">RU </a><a
                class="header__lang-item uz active" href="#">UZ</a><a class="header__lang-item en" href="#">EN</a></div>
            <div class="header__search">
              <input type="text" id="search" placeholder="Начните вводить"><a href="/search">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <mask id="mask0_159_1118" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                    height="20">
                    <rect width="20" height="20" fill="#D9D9D9" />
                  </mask>
                  <g mask="url(#mask0_159_1118)">
                    <path
                      d="M15.9375 17L10.9583 12.0208C10.5417 12.3264 10.0848 12.566 9.58771 12.7396C9.09063 12.9132 8.5616 13 8.00063 13C6.61132 13 5.43056 12.5139 4.45833 11.5417C3.48611 10.5694 3 9.38889 3 8C3 6.61111 3.48611 5.43056 4.45833 4.45833C5.43056 3.48611 6.61111 3 8 3C9.38889 3 10.5694 3.48611 11.5417 4.45833C12.5139 5.43056 13 6.61132 13 8.00063C13 8.5616 12.9132 9.09063 12.7396 9.58771C12.566 10.0848 12.3264 10.5417 12.0208 10.9583L17 15.9375L15.9375 17ZM8 11.5C8.97222 11.5 9.79861 11.1597 10.4792 10.4792C11.1597 9.79861 11.5 8.97222 11.5 8C11.5 7.02778 11.1597 6.20139 10.4792 5.52083C9.79861 4.84028 8.97222 4.5 8 4.5C7.02778 4.5 6.20139 4.84028 5.52083 5.52083C4.84028 6.20139 4.5 7.02778 4.5 8C4.5 8.97222 4.84028 9.79861 5.52083 10.4792C6.20139 11.1597 7.02778 11.5 8 11.5Z"
                      fill="black" />
                  </g>
                </svg></a>
            </div>
            <nav class="nav">
              <ul class="nav__list">
                <li class="nav__list-item"> <a class="nav__list-link" href="/about/uz.html">about us</a></li>
                <li class="nav__list-item"> <a class="nav__list-link" href="/catalog/uz.html">products</a></li>
                <li class="nav__list-item"> <a class="nav__list-link" href="/contact/uz.html">contacts</a></li>
              </ul>
            </nav><a class="header-address" href="https://maps.app.goo.gl/Qh8VSzPJHvmbTETdA">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_102_895" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                  height="20">
                  <rect width="20" height="20" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_102_895)">
                  <path
                    d="M10.0044 10C10.4181 10 10.7708 9.85271 11.0625 9.55813C11.3542 9.26354 11.5 8.90937 11.5 8.49562C11.5 8.08187 11.3527 7.72917 11.0581 7.4375C10.7635 7.14583 10.4094 7 9.99563 7C9.58188 7 9.22917 7.14729 8.9375 7.44188C8.64583 7.73646 8.5 8.09063 8.5 8.50438C8.5 8.91813 8.64729 9.27083 8.94187 9.5625C9.23646 9.85417 9.59062 10 10.0044 10ZM10 16.0208C11.6528 14.5347 12.8993 13.1667 13.7396 11.9167C14.5799 10.6667 15 9.54861 15 8.5625C15 7.10417 14.5243 5.89583 13.5729 4.9375C12.6215 3.97917 11.4306 3.5 10 3.5C8.56944 3.5 7.37847 3.97917 6.42708 4.9375C5.47569 5.89583 5 7.10417 5 8.5625C5 9.54861 5.42014 10.6667 6.26042 11.9167C7.10069 13.1667 8.34722 14.5347 10 16.0208ZM10 18C7.81986 16.179 6.19146 14.4877 5.11479 12.926C4.03826 11.3642 3.5 9.90972 3.5 8.5625C3.5 6.70139 4.11806 5.14236 5.35417 3.88542C6.59028 2.62847 8.13542 2 9.98958 2C11.8438 2 13.3924 2.62847 14.6354 3.88542C15.8785 5.14236 16.5 6.70139 16.5 8.5625C16.5 9.90972 15.9653 11.3611 14.8958 12.9167C13.8264 14.4722 12.1944 16.1667 10 18Z"
                    fill="currentColor" />
                </g>
              </svg>
              <h3>гTashkent, Parkent street 327</h3>
            </a><a class="header-phone" href="tel:+998712003005">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_102_903" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                  height="20">
                  <rect width="20" height="20" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_102_903)">
                  <path
                    d="M2.89579 16.8958L1.24995 15.2292C1.05551 15.0347 0.954813 14.8021 0.947869 14.5312C0.940925 14.2604 1.03467 14.0278 1.22912 13.8333C2.32634 12.6528 3.62495 11.7188 5.12495 11.0312C6.62495 10.3438 8.24995 10 9.99995 10C11.75 10 13.375 10.3438 14.875 11.0312C16.375 11.7188 17.6736 12.6528 18.7708 13.8333C18.9652 14.0278 19.059 14.2604 19.052 14.5312C19.0451 14.8021 18.9444 15.0347 18.75 15.2292L17.1041 16.8958C16.9513 17.0486 16.7569 17.1458 16.5208 17.1875C16.2847 17.2292 16.0486 17.1667 15.8125 17L13.4166 15.2917C13.2916 15.1944 13.1909 15.0729 13.1145 14.9271C13.0381 14.7813 13 14.6344 13 14.4865V11.9583C12.5138 11.8056 12.0226 11.691 11.5262 11.6146C11.0298 11.5382 10.5211 11.5 9.99995 11.5C9.47884 11.5 8.97009 11.5382 8.4737 11.6146C7.97731 11.691 7.48606 11.8056 6.99995 11.9583V14.4865C6.99995 14.6344 6.96176 14.7813 6.88537 14.9271C6.80898 15.0729 6.70829 15.1944 6.58329 15.2917L4.18745 17C3.95134 17.1667 3.71176 17.2257 3.4687 17.1771C3.22565 17.1285 3.03467 17.0347 2.89579 16.8958ZM5.49995 12.3542C4.98606 12.6042 4.48954 12.9028 4.01037 13.25C3.5312 13.5972 3.07634 13.9722 2.64579 14.375L3.66662 15.3958L5.49995 14.0833V12.3542ZM14.5 12.3542V14.0833L16.3333 15.3958L17.3541 14.375C16.9236 13.9583 16.4722 13.5799 16 13.2396C15.5277 12.8993 15.0277 12.6042 14.5 12.3542ZM9.24995 6V2H10.75V6H9.24995ZM14.4375 8.22917L13.375 7.16667L16.2083 4.33333L17.2708 5.39583L14.4375 8.22917ZM5.56245 8.22917L2.72912 5.39583L3.79162 4.33333L6.62495 7.16667L5.56245 8.22917Z"
                    fill="currentColor" />
                </g>
              </svg>
              <h3>+998 71 200 30 05</h3>
            </a><a class="header-email" href="mailto:offer@mali.uz">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_59_10593" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                  height="20">
                  <rect width="20" height="20" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_59_10593)">
                  <path
                    d="M10.75 1.41666L17.25 5.14583C17.4861 5.28472 17.6701 5.46527 17.8021 5.6875C17.934 5.90972 18 6.15972 18 6.4375V15.5C18 15.9125 17.8531 16.2656 17.5594 16.5594C17.2656 16.8531 16.9125 17 16.5 17H3.5C3.0875 17 2.73438 16.8531 2.44063 16.5594C2.14688 16.2656 2 15.9125 2 15.5V6.4375C2 6.15972 2.06597 5.90972 2.19792 5.6875C2.32986 5.46527 2.51389 5.28472 2.75 5.14583L9.25 1.41666C9.48042 1.27777 9.72896 1.20833 9.99563 1.20833C10.2624 1.20833 10.5139 1.27777 10.75 1.41666ZM10 10.2292L16.5 6.5L10 2.77083L3.5 6.5L10 10.2292Z"
                    fill="currentColor" />
                </g>
              </svg>
              <h3>offer@mali.uz</h3>
            </a>
            <ul class="header__social">
              <li class="header__social-item"><a href="#">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_102_885)">
                      <path
                        d="M10 0C15.5225 0 20 4.4775 20 10C20 15.5225 15.5225 20 10 20C4.4775 20 0 15.5225 0 10C0 4.4775 4.4775 0 10 0ZM14.9483 6.42556C15.2133 4.83481 14.6818 4.69732 12.9498 5.41548C12.2893 5.68994 7.50599 7.67256 3.80941 9.29873C2.88765 9.70435 2.66236 10.1264 3.61163 10.4521C3.85806 10.5367 4.49108 10.7589 5.13944 10.945C5.99721 11.1914 6.47528 11.0365 6.97292 10.6986C7.00853 10.6744 7.07055 10.6327 7.1552 10.5761L7.29868 10.4803C7.80379 10.1432 8.77707 9.49639 9.815 8.80737L10.1445 8.5887C10.2547 8.51554 10.3651 8.44223 10.4754 8.36908L10.8049 8.1504C11.1329 7.93281 11.4546 7.71942 11.7573 7.51866C11.9667 7.37958 12.1947 7.66462 12.0133 7.83808C11.7969 8.04449 11.5709 8.2601 11.3425 8.478L11.0679 8.74013C9.92269 9.83328 8.79147 10.9148 8.57952 11.1222C7.89912 11.7879 8.31062 12.1611 8.72017 12.4574L8.81786 12.5272L8.86563 12.5611C8.90586 12.5899 8.95819 12.6265 9.02056 12.6696L9.2358 12.8169C10.0402 13.3639 11.6456 14.4256 12.0127 14.668C12.9287 15.2725 13.5115 15.107 13.7711 13.7098C14.209 11.3538 14.7579 7.5689 14.9483 6.42556Z"
                        fill="currentColor" />
                    </g>
                    <defs>
                      <clipPath id="clip0_102_885">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg></a></li>
              <li class="header__social-item"><a href="#">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_102_890)">
                      <path
                        d="M10 0C4.4775 0 0 4.50057 0 10.0515C0 15.0907 3.69333 19.252 8.505 19.9791V12.7152H6.03083V10.0733H8.505V8.31511C8.505 5.40436 9.91583 4.12698 12.3225 4.12698C13.475 4.12698 14.085 4.21326 14.3733 4.25179V6.55778H12.7317C11.71 6.55778 11.3533 7.53193 11.3533 8.62922V10.0733H14.3475L13.9417 12.7152H11.3533V20C16.2342 19.3349 20 15.1401 20 10.0515C20 4.50057 15.5225 0 10 0Z"
                        fill="currentColor" />
                    </g>
                    <defs>
                      <clipPath id="clip0_102_890">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg> </a></li>
              <li class="header__social-item"><a href="#">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_102_892)">
                      <path
                        d="M6.05269 0C2.71532 0 6.10352e-05 2.71526 6.10352e-05 6.05263V13.9474C6.10352e-05 17.2847 2.71532 20 6.05269 20H13.9474C17.2848 20 20.0001 17.2847 20.0001 13.9474V6.05263C20.0001 2.71526 17.2848 0 13.9474 0H6.05269ZM15.2632 3.68421C15.8448 3.68421 16.3159 4.15526 16.3159 4.73684C16.3159 5.31789 15.8448 5.78947 15.2632 5.78947C14.6816 5.78947 14.2106 5.31789 14.2106 4.73684C14.2106 4.15526 14.6816 3.68421 15.2632 3.68421ZM10.0001 4.73684C12.9022 4.73684 15.2632 7.0979 15.2632 10C15.2632 12.9021 12.9022 15.2632 10.0001 15.2632C7.09796 15.2632 4.7369 12.9021 4.7369 10C4.7369 7.0979 7.09796 4.73684 10.0001 4.73684ZM10.0001 6.31579C9.51624 6.31579 9.03716 6.41108 8.59018 6.59623C8.14319 6.78138 7.73704 7.05276 7.39493 7.39487C7.05282 7.73698 6.78144 8.14313 6.59629 8.59011C6.41115 9.0371 6.31585 9.51618 6.31585 10C6.31585 10.4838 6.41115 10.9629 6.59629 11.4099C6.78144 11.8569 7.05282 12.263 7.39493 12.6051C7.73704 12.9472 8.14319 13.2186 8.59018 13.4038C9.03716 13.5889 9.51624 13.6842 10.0001 13.6842C10.4839 13.6842 10.963 13.5889 11.4099 13.4038C11.8569 13.2186 12.2631 12.9472 12.6052 12.6051C12.9473 12.263 13.2187 11.8569 13.4038 11.4099C13.589 10.9629 13.6843 10.4838 13.6843 10C13.6843 9.51618 13.589 9.0371 13.4038 8.59011C13.2187 8.14313 12.9473 7.73698 12.6052 7.39487C12.2631 7.05276 11.8569 6.78138 11.4099 6.59623C10.963 6.41108 10.4839 6.31579 10.0001 6.31579Z"
                        fill="currentColor" />
                    </g>
                    <defs>
                      <clipPath id="clip0_102_892">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg></a></li>
            </ul><a class="button header__bar-btn" href="#program">become a partner </a>
          </div>
        </div>
      </div>
    </header> --}}
   <div class="catalog">
        <div class="container">
            <div class="catalog__header">
                <div class="catalog__header-left">
                    <h2 class="catalog-title">Our products</h2>
                    <div class="catalog__header-pricelist mob button-mini">
                        <h3>Price-list</h3><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <mask id="mask0_25_4772" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                                width="20" height="20">
                                <rect width="20" height="20" fill="#D9D9D9" />
                            </mask>
                            <g mask="url(#mask0_25_4772)">
                                <path
                                    d="M6 14H12V12.5H6V14ZM6 10.75H14V9.25H6V10.75ZM6 7.5H14V6H6V7.5ZM4.5 17C4.0875 17 3.73437 16.8531 3.44062 16.5594C3.14687 16.2656 3 15.9125 3 15.5V4.5C3 4.0875 3.14687 3.73438 3.44062 3.44063C3.73437 3.14688 4.0875 3 4.5 3H15.5C15.9125 3 16.2656 3.14688 16.5594 3.44063C16.8531 3.73438 17 4.0875 17 4.5V15.5C17 15.9125 16.8531 16.2656 16.5594 16.5594C16.2656 16.8531 15.9125 17 15.5 17H4.5ZM4.5 15.5H15.5V4.5H4.5V15.5Z"
                                    fill="#E80029" />
                            </g>
                        </svg>
                    </div>
                </div>
                <div class="catalog__header-right">
                    <div class="catalog__header-search">
                        <input type="text" id="search" placeholder="Начните вводить"><a href="/search.html">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <mask id="mask0_159_1118" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                                    width="20" height="20">
                                    <rect width="20" height="20" fill="#D9D9D9" />
                                </mask>
                                <g mask="url(#mask0_159_1118)">
                                    <path
                                        d="M15.9375 17L10.9583 12.0208C10.5417 12.3264 10.0848 12.566 9.58771 12.7396C9.09063 12.9132 8.5616 13 8.00063 13C6.61132 13 5.43056 12.5139 4.45833 11.5417C3.48611 10.5694 3 9.38889 3 8C3 6.61111 3.48611 5.43056 4.45833 4.45833C5.43056 3.48611 6.61111 3 8 3C9.38889 3 10.5694 3.48611 11.5417 4.45833C12.5139 5.43056 13 6.61132 13 8.00063C13 8.5616 12.9132 9.09063 12.7396 9.58771C12.566 10.0848 12.3264 10.5417 12.0208 10.9583L17 15.9375L15.9375 17ZM8 11.5C8.97222 11.5 9.79861 11.1597 10.4792 10.4792C11.1597 9.79861 11.5 8.97222 11.5 8C11.5 7.02778 11.1597 6.20139 10.4792 5.52083C9.79861 4.84028 8.97222 4.5 8 4.5C7.02778 4.5 6.20139 4.84028 5.52083 5.52083C4.84028 6.20139 4.5 7.02778 4.5 8C4.5 8.97222 4.84028 9.79861 5.52083 10.4792C6.20139 11.1597 7.02778 11.5 8 11.5Z"
                                        fill="black" />
                                </g>
                            </svg></a>
                    </div><a class="catalog__header-pricelist button-mini" href="#">
                        <h3>Download price list</h3><svg width="20" height="20" viewBox="0 0 20 20"
                            fill="none" xmlns="http://www.w3.org/2000/svg">
                            <mask id="mask0_25_4772" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                                width="20" height="20">
                                <rect width="20" height="20" fill="#D9D9D9" />
                            </mask>
                            <g mask="url(#mask0_25_4772)">
                                <path
                                    d="M6 14H12V12.5H6V14ZM6 10.75H14V9.25H6V10.75ZM6 7.5H14V6H6V7.5ZM4.5 17C4.0875 17 3.73437 16.8531 3.44062 16.5594C3.14687 16.2656 3 15.9125 3 15.5V4.5C3 4.0875 3.14687 3.73438 3.44062 3.44063C3.73437 3.14688 4.0875 3 4.5 3H15.5C15.9125 3 16.2656 3.14688 16.5594 3.44063C16.8531 3.73438 17 4.0875 17 4.5V15.5C17 15.9125 16.8531 16.2656 16.5594 16.5594C16.2656 16.8531 15.9125 17 15.5 17H4.5ZM4.5 15.5H15.5V4.5H4.5V15.5Z"
                                    fill="currentColor" />
                            </g>
                        </svg>
                    </a>
                    <div class="catalog__header-filter"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <mask id="mask0_59_8189" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                                width="24" height="24">
                                <rect width="24" height="24" fill="#D9D9D9" />
                            </mask>
                            <g mask="url(#mask0_59_8189)">
                                <path
                                    d="M11.3847 19.5C11.1334 19.5 10.9232 19.4153 10.754 19.246C10.5847 19.0768 10.5 18.8666 10.5 18.6152V12.827L4.90199 5.7155C4.70966 5.459 4.68174 5.19233 4.81824 4.9155C4.9549 4.6385 5.18541 4.5 5.50974 4.5H18.4902C18.8146 4.5 19.0451 4.6385 19.1817 4.9155C19.3182 5.19233 19.2903 5.459 19.098 5.7155L13.5 12.827V18.6152C13.5 18.8666 13.4153 19.0768 13.246 19.246C13.0768 19.4153 12.8666 19.5 12.6152 19.5H11.3847Z"
                                    fill="#E80029" />
                            </g>
                        </svg>
                        <h3>Filtr</h3>
                    </div>
                </div>
            </div>
            <div class="catalog__wrapper">
                <div class="catalog__side">
                    <div class="catalog__side-wrapper">
                        <div class="catalog__side-exit catalog__side-close">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <mask id="mask0_59_8797" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                                    width="24" height="24">
                                    <rect width="24" height="24" fill="#D9D9D9" />
                                </mask>
                                <g mask="url(#mask0_59_8797)">
                                    <path
                                        d="M8.2871 11.9879L15.6371 19.3379C15.8871 19.5879 16.0079 19.8837 15.9996 20.2254C15.9913 20.5671 15.8621 20.8629 15.6121 21.1129C15.3621 21.3629 15.0663 21.4879 14.7246 21.4879C14.3829 21.4879 14.0871 21.3629 13.8371 21.1129L6.1621 13.4129C5.9621 13.2129 5.8121 12.9879 5.7121 12.7379C5.6121 12.4879 5.5621 12.2379 5.5621 11.9879C5.5621 11.7379 5.6121 11.4879 5.7121 11.2379C5.8121 10.9879 5.9621 10.7629 6.1621 10.5629L13.8621 2.86291C14.1121 2.61291 14.4038 2.49208 14.7371 2.50041C15.0704 2.50875 15.3621 2.63791 15.6121 2.88791C15.8621 3.13791 15.9871 3.43375 15.9871 3.77542C15.9871 4.11708 15.8621 4.41291 15.6121 4.66291L8.2871 11.9879Z"
                                        fill="#E80029" />
                                </g>
                            </svg>
                            <h3>Back</h3>
                        </div>
                        <h3 class="catalog__side-title">Filter</h3>
                        <div class="catalog__side-select">
                            <div class="catalog__select">
                                <div class="catalog__select-btn">
                                    <h3>Dough</h3>
                                    <div class="catalog__select-arrow">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <mask id="mask0_27_2182" style="mask-type:alpha" maskUnits="userSpaceOnUse"
                                                x="0" y="0" width="20" height="20">
                                                <rect width="20" height="20" fill="currentColor" />
                                            </mask>
                                            <g mask="url(#mask0_27_2182)">
                                                <path
                                                    d="M10 9.0625L6.58335 12.4792C6.43058 12.6319 6.25349 12.7083 6.0521 12.7083C5.85071 12.7083 5.67363 12.6319 5.52085 12.4792C5.36808 12.3264 5.29169 12.1493 5.29169 11.9479C5.29169 11.7465 5.36808 11.5694 5.52085 11.4167L9.47919 7.45833C9.63196 7.30555 9.80558 7.22917 10 7.22917C10.1945 7.22917 10.3681 7.30555 10.5209 7.45833L14.4792 11.4167C14.632 11.5694 14.7084 11.7431 14.7084 11.9375C14.7084 12.1319 14.632 12.3056 14.4792 12.4583C14.3264 12.6111 14.1493 12.6875 13.9479 12.6875C13.7465 12.6875 13.5695 12.6111 13.4167 12.4583L10 9.0625Z"
                                                    fill="currentColor" />
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                                <div class="catalog__select-content">
                                    <ul class="catalog__select-list">
                                        <li onclick="sort_cat(1)" class="catalog__select-item">Puff pastry with yeast</li>
                                        <li onclick="sort_cat(2)" class="catalog__select-item">Puff pastry without yeast</li>
                                        <li class="catalog__select-item">For pizza</li>
                                        <li class="catalog__select-item">Sweet dough</li>
                                        <li class="catalog__select-item">Butter puff pastry</li>
                                        <li class="catalog__select-item">Round puff pastry</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="catalog__select">
                                <div class="catalog__select-btn">
                                    <h3>For breakfast</h3>
                                    <div class="catalog__select-arrow">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <mask id="mask0_27_2182" style="mask-type:alpha" maskUnits="userSpaceOnUse"
                                                x="0" y="0" width="20" height="20">
                                                <rect width="20" height="20" fill="currentColor" />
                                            </mask>
                                            <g mask="url(#mask0_27_2182)">
                                                <path
                                                    d="M10 9.0625L6.58335 12.4792C6.43058 12.6319 6.25349 12.7083 6.0521 12.7083C5.85071 12.7083 5.67363 12.6319 5.52085 12.4792C5.36808 12.3264 5.29169 12.1493 5.29169 11.9479C5.29169 11.7465 5.36808 11.5694 5.52085 11.4167L9.47919 7.45833C9.63196 7.30555 9.80558 7.22917 10 7.22917C10.1945 7.22917 10.3681 7.30555 10.5209 7.45833L14.4792 11.4167C14.632 11.5694 14.7084 11.7431 14.7084 11.9375C14.7084 12.1319 14.632 12.3056 14.4792 12.4583C14.3264 12.6111 14.1493 12.6875 13.9479 12.6875C13.7465 12.6875 13.5695 12.6111 13.4167 12.4583L10 9.0625Z"
                                                    fill="currentColor" />
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                                <div class="catalog__select-content">
                                    <ul class="catalog__select-list">
                                        <li class="catalog__select-item">Xamirturushli qatlama</li>
                                        <li class="catalog__select-item">Xamirturushsiz qatlama</li>
                                        <li class="catalog__select-item">Pitsa uchun</li>
                                        <li class="catalog__select-item">Sdobnoy xamir</li>
                                        <li class="catalog__select-item">Sariyog‘li qatlama</li>
                                        <li class="catalog__select-item">Dumaloq qatlama</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="catalog__select">
                                <div class="catalog__select-btn">
                                    <h3>Oilaviy bayram uchun</h3>
                                    <div class="catalog__select-arrow">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <mask id="mask0_27_2182" style="mask-type:alpha" maskUnits="userSpaceOnUse"
                                                x="0" y="0" width="20" height="20">
                                                <rect width="20" height="20" fill="currentColor" />
                                            </mask>
                                            <g mask="url(#mask0_27_2182)">
                                                <path
                                                    d="M10 9.0625L6.58335 12.4792C6.43058 12.6319 6.25349 12.7083 6.0521 12.7083C5.85071 12.7083 5.67363 12.6319 5.52085 12.4792C5.36808 12.3264 5.29169 12.1493 5.29169 11.9479C5.29169 11.7465 5.36808 11.5694 5.52085 11.4167L9.47919 7.45833C9.63196 7.30555 9.80558 7.22917 10 7.22917C10.1945 7.22917 10.3681 7.30555 10.5209 7.45833L14.4792 11.4167C14.632 11.5694 14.7084 11.7431 14.7084 11.9375C14.7084 12.1319 14.632 12.3056 14.4792 12.4583C14.3264 12.6111 14.1493 12.6875 13.9479 12.6875C13.7465 12.6875 13.5695 12.6111 13.4167 12.4583L10 9.0625Z"
                                                    fill="currentColor" />
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                                <div class="catalog__select-content">
                                    <ul class="catalog__select-list">
                                        <li class="catalog__select-item">Xamirturushli qatlama</li>
                                        <li class="catalog__select-item">Xamirturushsiz qatlama</li>
                                        <li class="catalog__select-item">Pitsa uchun</li>
                                        <li class="catalog__select-item">Sdobnoy xamir</li>
                                        <li class="catalog__select-item">Sariyog‘li qatlama</li>
                                        <li class="catalog__select-item">Dumaloq qatlama</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="catalog__select">
                                <div class="catalog__select-btn">
                                    <h3>Xamir mahsulotlari</h3>
                                    <div class="catalog__select-arrow">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <mask id="mask0_27_2182" style="mask-type:alpha" maskUnits="userSpaceOnUse"
                                                x="0" y="0" width="20" height="20">
                                                <rect width="20" height="20" fill="currentColor" />
                                            </mask>
                                            <g mask="url(#mask0_27_2182)">
                                                <path
                                                    d="M10 9.0625L6.58335 12.4792C6.43058 12.6319 6.25349 12.7083 6.0521 12.7083C5.85071 12.7083 5.67363 12.6319 5.52085 12.4792C5.36808 12.3264 5.29169 12.1493 5.29169 11.9479C5.29169 11.7465 5.36808 11.5694 5.52085 11.4167L9.47919 7.45833C9.63196 7.30555 9.80558 7.22917 10 7.22917C10.1945 7.22917 10.3681 7.30555 10.5209 7.45833L14.4792 11.4167C14.632 11.5694 14.7084 11.7431 14.7084 11.9375C14.7084 12.1319 14.632 12.3056 14.4792 12.4583C14.3264 12.6111 14.1493 12.6875 13.9479 12.6875C13.7465 12.6875 13.5695 12.6111 13.4167 12.4583L10 9.0625Z"
                                                    fill="currentColor" />
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                                <div class="catalog__select-content">
                                    <ul class="catalog__select-list">
                                        <li class="catalog__select-item">Xamirturushli qatlama</li>
                                        <li class="catalog__select-item">Xamirturushsiz qatlama</li>
                                        <li class="catalog__select-item">Pitsa uchun</li>
                                        <li class="catalog__select-item">Sdobnoy xamir</li>
                                        <li class="catalog__select-item">Sariyog‘li qatlama</li>
                                        <li class="catalog__select-item">Dumaloq qatlama</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {{!-- catalog packing types --}}
                        {{!-- <div class="catalog__side-types">
                            <label class="catalog__types-item checkbox" for="type1">
                                <input type="checkbox" onchange="sub_category_change(1)" id="type1" name="check"><svg width="30" height="30"
                                    viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect opacity="0.5" x="0.5" y="0.5" width="29" height="29" rx="9.5" fill="white"
                                        stroke="#D9D9D9" />
                                    <mask id="mask0_25_3074" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="5"
                                        y="5" width="20" height="20">
                                        <rect x="5" y="5" width="20" height="20" fill="#D9D9D9" />
                                    </mask>
                                    <g mask="url(#mask0_25_3074)">
                                        <path
                                            d="M13.1042 19.4375L9.0625 15.4167L10.125 14.3333L13.1042 17.3125L19.875 10.5625L20.9375 11.625L13.1042 19.4375Z"
                                            fill="#F1F1F0" />
                                    </g>
                                </svg>
                                <h3>Og'irligi</h3>
                            </label>
                            <label class="catalog__types-item checkbox" for="type2">
                                <input type="checkbox" onchange="sub_category_change(2)" id="type2" name="check"><svg width="30" height="30"
                                    viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect opacity="0.5" x="0.5" y="0.5" width="29" height="29" rx="9.5" fill="white"
                                        stroke="#D9D9D9" />
                                    <mask id="mask0_25_3074" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="5"
                                        y="5" width="20" height="20">
                                        <rect x="5" y="5" width="20" height="20" fill="#D9D9D9" />
                                    </mask>
                                    <g mask="url(#mask0_25_3074)">
                                        <path
                                            d="M13.1042 19.4375L9.0625 15.4167L10.125 14.3333L13.1042 17.3125L19.875 10.5625L20.9375 11.625L13.1042 19.4375Z"
                                            fill="#F1F1F0" />
                                    </g>
                                </svg>
                                <h3>Qadoqlangan</h3>
                            </label>
                            <label class="catalog__types-item checkbox" for="type3">
                                <input type="checkbox" id="type3" name="check"><svg width="30" height="30"
                                    viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect opacity="0.5" x="0.5" y="0.5" width="29" height="29" rx="9.5" fill="white"
                                        stroke="#D9D9D9" />
                                    <mask id="mask0_25_3074" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="5"
                                        y="5" width="20" height="20">
                                        <rect x="5" y="5" width="20" height="20" fill="#D9D9D9" />
                                    </mask>
                                    <g mask="url(#mask0_25_3074)">
                                        <path
                                            d="M13.1042 19.4375L9.0625 15.4167L10.125 14.3333L13.1042 17.3125L19.875 10.5625L20.9375 11.625L13.1042 19.4375Z"
                                            fill="#F1F1F0" />
                                    </g>
                                </svg>
                                <h3>500 g</h3>
                            </label>
                            <label class="catalog__types-item checkbox" for="type4">
                                <input type="checkbox" id="type4" name="check"><svg width="30" height="30"
                                    viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect opacity="0.5" x="0.5" y="0.5" width="29" height="29" rx="9.5" fill="white"
                                        stroke="#D9D9D9" />
                                    <mask id="mask0_25_3074" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="5"
                                        y="5" width="20" height="20">
                                        <rect x="5" y="5" width="20" height="20" fill="#D9D9D9" />
                                    </mask>
                                    <g mask="url(#mask0_25_3074)">
                                        <path
                                            d="M13.1042 19.4375L9.0625 15.4167L10.125 14.3333L13.1042 17.3125L19.875 10.5625L20.9375 11.625L13.1042 19.4375Z"
                                            fill="#F1F1F0" />
                                    </g>
                                </svg>
                                <h3>1000 g</h3>
                            </label>
                            <label class="catalog__types-item checkbox" for="type5">
                                <input type="checkbox" id="type5" name="check"><svg width="30" height="30"
                                    viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect opacity="0.5" x="0.5" y="0.5" width="29" height="29" rx="9.5" fill="white"
                                        stroke="#D9D9D9" />
                                    <mask id="mask0_25_3074" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="5"
                                        y="5" width="20" height="20">
                                        <rect x="5" y="5" width="20" height="20" fill="#D9D9D9" />
                                    </mask>
                                    <g mask="url(#mask0_25_3074)">
                                        <path
                                            d="M13.1042 19.4375L9.0625 15.4167L10.125 14.3333L13.1042 17.3125L19.875 10.5625L20.9375 11.625L13.1042 19.4375Z"
                                            fill="#F1F1F0" />
                                    </g>
                                </svg>
                                <h3>1500 g</h3>
                            </label>
                        </div> --}}

                        {{!-- aksiya --}}
                        {{!-- <div class="catalog__side-action">
                            <label class="catalog__types-item checkbox" for="type6">
                                <input type="checkbox" id="type6" name="check"><svg width="30" height="30"
                                    viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect opacity="0.5" x="0.5" y="0.5" width="29" height="29" rx="9.5" fill="white"
                                        stroke="#D9D9D9" />
                                    <mask id="mask0_25_3074" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="5"
                                        y="5" width="20" height="20">
                                        <rect x="5" y="5" width="20" height="20" fill="#D9D9D9" />
                                    </mask>
                                    <g mask="url(#mask0_25_3074)">
                                        <path
                                            d="M13.1042 19.4375L9.0625 15.4167L10.125 14.3333L13.1042 17.3125L19.875 10.5625L20.9375 11.625L13.1042 19.4375Z"
                                            fill="#F1F1F0" />
                                    </g>
                                </svg>
                                <h3>Aksiya</h3>
                            </label>
                        </div> --}}
                        <button class="button catalog__side-show catalog__side-close">Ko`rsatish</button>
                    </div>
                </div>
                <div class="catalog__content"> <a class="catalog__content-banner" href="#"> <img
                            src="/img/product-banner.png" draggable="false" alt="product banner"></a>
                    {{!-- <div class="catalog__content-top">
                        <div class="catalog__drop">
                            <button class="catalog__drop-btn" type="button">
                                <h3>Saralash</h3><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <mask id="mask0_25_3059" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0"
                                        y="0" width="20" height="20">
                                        <rect width="20" height="20" fill="#D9D9D9" />
                                    </mask>
                                    <g mask="url(#mask0_25_3059)">
                                        <path d="M10 12L6 8H14L10 12Z" fill="black" />
                                    </g>
                                </svg>
                            </button>
                        </div>
                        <div class="catalog__drop">
                            <button class="catalog__drop-btn" type="button">
                                <h3>9</h3><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <mask id="mask0_25_3045" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0"
                                        y="0" width="20" height="20">
                                        <rect width="20" height="20" fill="#D9D9D9" />
                                    </mask>
                                    <g mask="url(#mask0_25_3045)">
                                        <path d="M10 12L6 8H14L10 12Z" fill="black" />
                                    </g>
                                </svg>
                            </button>
                        </div>
                    </div> --}}
                    <ul class="catalog__list"></ul>
                    {{!-- <div class="catalog__bottom">
                        <button class="catalog__bottom-btn button" type="button">Yana</button>
                        <div class="catalog__pagination">
                            <button class="catalog__pagination-arrow left" type="button"><svg width="20" height="20"
                                    viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <mask id="mask0_159_1559" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0"
                                        y="0" width="20" height="20">
                                        <rect width="20" height="20" fill="currentColor" />
                                    </mask>
                                    <g mask="url(#mask0_159_1559)">
                                        <path
                                            d="M6.83333 10L12.7083 15.875C12.9028 16.0695 13 16.3056 13 16.5834C13 16.8612 12.9028 17.0973 12.7083 17.2917C12.5139 17.4862 12.2778 17.5834 12 17.5834C11.7222 17.5834 11.4861 17.4862 11.2917 17.2917L5.0625 11.0625C4.90972 10.9098 4.79861 10.7431 4.72917 10.5625C4.65972 10.382 4.625 10.1945 4.625 10C4.625 9.8056 4.65972 9.61809 4.72917 9.43754C4.79861 9.25698 4.90972 9.09032 5.0625 8.93754L11.2917 2.70837C11.4861 2.51393 11.7222 2.41671 12 2.41671C12.2778 2.41671 12.5139 2.51393 12.7083 2.70837C12.9028 2.90282 13 3.13893 13 3.41671C13 3.69448 12.9028 3.9306 12.7083 4.12504L6.83333 10Z"
                                            fill="currentColor" />
                                    </g>
                                </svg>
                            </button>
                            <div class="catalog__pagination-list">
                                <div class="catalog__pagination-item active">1</div>
                                <div class="catalog__pagination-item">2</div>
                                <div class="catalog__pagination-item other">...</div>
                                <div class="catalog__pagination-item">3</div>
                            </div>
                            <button class="catalog__pagination-arrow right" type="button"><svg width="20" height="20"
                                    viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <mask id="mask0_159_1555" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0"
                                        y="0" width="20" height="20">
                                        <rect width="20" height="20" fill="currentColor" />
                                    </mask>
                                    <g mask="url(#mask0_159_1555)">
                                        <path
                                            d="M13.1667 9.99996L7.29167 4.12496C7.09722 3.93051 7 3.6944 7 3.41663C7 3.13885 7.09722 2.90274 7.29167 2.70829C7.48611 2.51385 7.72222 2.41663 8 2.41663C8.27778 2.41663 8.51389 2.51385 8.70833 2.70829L14.9375 8.93746C15.0903 9.09024 15.2014 9.2569 15.2708 9.43746C15.3403 9.61801 15.375 9.80551 15.375 9.99996C15.375 10.1944 15.3403 10.3819 15.2708 10.5625C15.2014 10.743 15.0903 10.9097 14.9375 11.0625L8.70833 17.2916C8.51389 17.4861 8.27778 17.5833 8 17.5833C7.72222 17.5833 7.48611 17.4861 7.29167 17.2916C7.09722 17.0972 7 16.8611 7 16.5833C7 16.3055 7.09722 16.0694 7.29167 15.875L13.1667 9.99996Z"
                                            fill="currentColor" />
                                    </g>
                                </svg>
                            </button>
                        </div>
                    </div> --}}
                </div>
            </div>
        </div>
    </div>
    <section class="program" id="program">
        <div class="program-item first"><img src="/img/pelmeni/item1.png" alt="item" draggable="false"></div>
        <div class="program-item second"><img src="/img/pelmeni/item2.png" alt="item" draggable="false"></div>
        <div class="program-wrapper">
            <div class="program-left">
                <h3 class="program-title"> Hamkorlik dasturi</h3>
                <p class="program-text">Mali bilan yetakchi chakana savdo tarmoqlari va HoReCa sanoati vakillari faol
                    hamkorlik qilmoqda, jumladan:</p>
                <div class="program__left-box">
                    <ul class="program__list">
                        <li class="program__list-item first"> <img src="/img/partners/el1.png" alt="partner"><img
                                class="inner" src="/img/partners/el3.png" alt="partner"></li>
                        <li class="program__list-item second"><img src="/img/partners/el2.png" alt="partner"><img
                                class="inner" src="/img/partners/el4.png" alt="partner"></li>
                    </ul><a class="button-other white" href="/catalog/uz">
                        <h3>Barcha mahsulotlar</h3><svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <rect width="30" height="30" fill="currentColor" />
                            <mask id="mask0_102_779" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="5" y="5"
                                width="20" height="20">
                                <rect x="5" y="5" width="20" height="20" fill="#D9D9D9" />
                            </mask>
                            <g mask="url(#mask0_102_779)">
                                <path
                                    d="M18.125 15.75H9V14.25H18.125L13.9375 10.0625L15 9L21 15L15 21L13.9375 19.9375L18.125 15.75Z"
                                    fill="#E80029" />
                            </g>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="program__right">
                <h3 class="program__right-title">Dasturda ishtirok etish uchun ariza to'ldiring</h3>
                <p class="program__right-text">va maxsus shartlarni, jumladan, maxsus mahsulot liniyalari va marketing
                    ko‘magini oling</p>
                <div class="program__right-bottom"><a class="button-other" href="#">
                        <h3>Prezentatsiya</h3><svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <rect width="30" height="30" fill="currentColor" />
                            <mask id="mask0_102_791" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="5" y="5"
                                width="20" height="20">
                                <rect x="5" y="5" width="20" height="20" fill="#D9D9D9" />
                            </mask>
                            <g mask="url(#mask0_102_791)">
                                <path
                                    d="M11 19H17V17.5H11V19ZM11 15.75H19V14.25H11V15.75ZM11 12.5H19V11H11V12.5ZM9.5 22C9.0875 22 8.73437 21.8531 8.44062 21.5594C8.14687 21.2656 8 20.9125 8 20.5V9.5C8 9.0875 8.14687 8.73438 8.44062 8.44063C8.73437 8.14688 9.0875 8 9.5 8H20.5C20.9125 8 21.2656 8.14688 21.5594 8.44063C21.8531 8.73438 22 9.0875 22 9.5V20.5C22 20.9125 21.8531 21.2656 21.5594 21.5594C21.2656 21.8531 20.9125 22 20.5 22H9.5ZM9.5 20.5H20.5V9.5H9.5V20.5Z"
                                    fill="white" />
                            </g>
                        </svg>
                    </a><a class="button" href="#">arizani to'ldirish</a></div>
            </div>
        </div>
    </section>
    <section class="call">
        <div class="call-wrapper">
            <h3 class="call-title">Savollaringiz bo`lsa qo`ng`iroq qiling</h3>
            <div class="call-item">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <mask id="mask0_55_2076" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                        height="20">
                        <rect width="20" height="20" fill="#D9D9D9" />
                    </mask>
                    <g mask="url(#mask0_55_2076)">
                        <path
                            d="M2.89579 16.8958L1.24995 15.2292C1.05551 15.0347 0.954813 14.8021 0.947869 14.5312C0.940925 14.2604 1.03467 14.0278 1.22912 13.8333C2.32634 12.6528 3.62495 11.7188 5.12495 11.0312C6.62495 10.3438 8.24995 10 9.99995 10C11.75 10 13.375 10.3438 14.875 11.0312C16.375 11.7188 17.6736 12.6528 18.7708 13.8333C18.9652 14.0278 19.059 14.2604 19.052 14.5312C19.0451 14.8021 18.9444 15.0347 18.75 15.2292L17.1041 16.8958C16.9513 17.0486 16.7569 17.1458 16.5208 17.1875C16.2847 17.2292 16.0486 17.1667 15.8125 17L13.4166 15.2917C13.2916 15.1944 13.1909 15.0729 13.1145 14.9271C13.0381 14.7813 13 14.6344 13 14.4865V11.9583C12.5138 11.8056 12.0226 11.691 11.5262 11.6146C11.0298 11.5382 10.5211 11.5 9.99995 11.5C9.47884 11.5 8.97009 11.5382 8.4737 11.6146C7.97731 11.691 7.48606 11.8056 6.99995 11.9583V14.4865C6.99995 14.6344 6.96176 14.7813 6.88537 14.9271C6.80898 15.0729 6.70829 15.1944 6.58329 15.2917L4.18745 17C3.95134 17.1667 3.71176 17.2257 3.4687 17.1771C3.22565 17.1285 3.03467 17.0347 2.89579 16.8958ZM5.49995 12.3542C4.98606 12.6042 4.48954 12.9028 4.01037 13.25C3.5312 13.5972 3.07634 13.9722 2.64579 14.375L3.66662 15.3958L5.49995 14.0833V12.3542ZM14.5 12.3542V14.0833L16.3333 15.3958L17.3541 14.375C16.9236 13.9583 16.4722 13.5799 16 13.2396C15.5277 12.8993 15.0277 12.6042 14.5 12.3542ZM9.24995 6V2H10.75V6H9.24995ZM14.4375 8.22917L13.375 7.16667L16.2083 4.33333L17.2708 5.39583L14.4375 8.22917ZM5.56245 8.22917L2.72912 5.39583L3.79162 4.33333L6.62495 7.16667L5.56245 8.22917Z"
                            fill="white" />
                    </g>
                </svg>
                <h3>+998 71 200 30 05</h3>
            </div><a class="button other" href="tel:+998712003005">qayta qong`iroq</a>
        </div>
    </section>
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-top">
                <div class="footer-top__left"> <a class="footer-logo" href="/index-uz.html"> <img
                            src="/img/logo_mali.svg" alt="alt"></a>
                    <div class="footer-top__info"> <a class="footer-address"
                            href="https://maps.app.goo.gl/Qh8VSzPJHvmbTETdA">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <mask id="mask0_141_1066" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                                    width="20" height="20">
                                    <rect width="20" height="20" fill="#D9D9D9" />
                                </mask>
                                <g mask="url(#mask0_141_1066)">
                                    <path
                                        d="M10.0044 10C10.4181 10 10.7708 9.85271 11.0625 9.55813C11.3542 9.26354 11.5 8.90937 11.5 8.49562C11.5 8.08187 11.3527 7.72917 11.0581 7.4375C10.7635 7.14583 10.4094 7 9.99563 7C9.58188 7 9.22917 7.14729 8.9375 7.44188C8.64583 7.73646 8.5 8.09063 8.5 8.50438C8.5 8.91813 8.64729 9.27083 8.94187 9.5625C9.23646 9.85417 9.59062 10 10.0044 10ZM10 16.0208C11.6528 14.5347 12.8993 13.1667 13.7396 11.9167C14.5799 10.6667 15 9.54861 15 8.5625C15 7.10417 14.5243 5.89583 13.5729 4.9375C12.6215 3.97917 11.4306 3.5 10 3.5C8.56944 3.5 7.37847 3.97917 6.42708 4.9375C5.47569 5.89583 5 7.10417 5 8.5625C5 9.54861 5.42014 10.6667 6.26042 11.9167C7.10069 13.1667 8.34722 14.5347 10 16.0208ZM10 18C7.81986 16.179 6.19146 14.4877 5.11479 12.926C4.03826 11.3642 3.5 9.90972 3.5 8.5625C3.5 6.70139 4.11806 5.14236 5.35417 3.88542C6.59028 2.62847 8.13542 2 9.98958 2C11.8438 2 13.3924 2.62847 14.6354 3.88542C15.8785 5.14236 16.5 6.70139 16.5 8.5625C16.5 9.90972 15.9653 11.3611 14.8958 12.9167C13.8264 14.4722 12.1944 16.1667 10 18Z"
                                        fill="currentColor" />
                                </g>
                            </svg>
                            <h3>Toshkent sh, Parkent koch. 327</h3>
                        </a><a class="footer-phone" href="tel:+998712003005">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <mask id="mask0_141_1074" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                                    width="20" height="20">
                                    <rect width="20" height="20" fill="currentColor" />
                                </mask>
                                <g mask="url(#mask0_141_1074)">
                                    <path
                                        d="M2.89579 16.8958L1.24995 15.2292C1.05551 15.0347 0.954813 14.8021 0.947869 14.5312C0.940925 14.2604 1.03467 14.0278 1.22912 13.8333C2.32634 12.6528 3.62495 11.7188 5.12495 11.0312C6.62495 10.3438 8.24995 10 9.99995 10C11.75 10 13.375 10.3438 14.875 11.0312C16.375 11.7188 17.6736 12.6528 18.7708 13.8333C18.9652 14.0278 19.059 14.2604 19.052 14.5312C19.0451 14.8021 18.9444 15.0347 18.75 15.2292L17.1041 16.8958C16.9513 17.0486 16.7569 17.1458 16.5208 17.1875C16.2847 17.2292 16.0486 17.1667 15.8125 17L13.4166 15.2917C13.2916 15.1944 13.1909 15.0729 13.1145 14.9271C13.0381 14.7813 13 14.6344 13 14.4865V11.9583C12.5138 11.8056 12.0226 11.691 11.5262 11.6146C11.0298 11.5382 10.5211 11.5 9.99995 11.5C9.47884 11.5 8.97009 11.5382 8.4737 11.6146C7.97731 11.691 7.48606 11.8056 6.99995 11.9583V14.4865C6.99995 14.6344 6.96176 14.7813 6.88537 14.9271C6.80898 15.0729 6.70829 15.1944 6.58329 15.2917L4.18745 17C3.95134 17.1667 3.71176 17.2257 3.4687 17.1771C3.22565 17.1285 3.03467 17.0347 2.89579 16.8958ZM5.49995 12.3542C4.98606 12.6042 4.48954 12.9028 4.01037 13.25C3.5312 13.5972 3.07634 13.9722 2.64579 14.375L3.66662 15.3958L5.49995 14.0833V12.3542ZM14.5 12.3542V14.0833L16.3333 15.3958L17.3541 14.375C16.9236 13.9583 16.4722 13.5799 16 13.2396C15.5277 12.8993 15.0277 12.6042 14.5 12.3542ZM9.24995 6V2H10.75V6H9.24995ZM14.4375 8.22917L13.375 7.16667L16.2083 4.33333L17.2708 5.39583L14.4375 8.22917ZM5.56245 8.22917L2.72912 5.39583L3.79162 4.33333L6.62495 7.16667L5.56245 8.22917Z"
                                        fill="currentColor" />
                                </g>
                            </svg>
                            <h3>+998 71 200 30 05</h3>
                        </a><a class="footer-email mob" href="mailto:offer@mali.uz"><svg width="20" height="20"
                                viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <mask id="mask0_146_1080" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                                    width="20" height="20">
                                    <rect width="20" height="20" fill="currentColor" />
                                </mask>
                                <g mask="url(#mask0_146_1080)">
                                    <path
                                        d="M10.75 1.41659L17.25 5.14575C17.4861 5.28464 17.6701 5.4652 17.8021 5.68742C17.934 5.90964 18 6.15964 18 6.43742V15.4999C18 15.9124 17.8531 16.2655 17.5594 16.5593C17.2656 16.853 16.9125 16.9999 16.5 16.9999H3.5C3.0875 16.9999 2.73438 16.853 2.44063 16.5593C2.14688 16.2655 2 15.9124 2 15.4999V6.43742C2 6.15964 2.06597 5.90964 2.19792 5.68742C2.32986 5.4652 2.51389 5.28464 2.75 5.14575L9.25 1.41659C9.48042 1.2777 9.72896 1.20825 9.99563 1.20825C10.2624 1.20825 10.5139 1.2777 10.75 1.41659ZM10 10.2291L16.5 6.49992L10 2.77075L3.5 6.49992L10 10.2291Z"
                                        fill="currentColor" />
                                </g>
                            </svg>
                            <h3>offer@mali.uz</h3>
                        </a></div>
                </div>
                <div class="footer-top__right">
                    <button class="button" type="submit">hamkor bo'lish</button>
                    <ul class="footer__social">
                        <li class="footer__social-item"><a href="#">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_102_885)">
                                        <path
                                            d="M10 0C15.5225 0 20 4.4775 20 10C20 15.5225 15.5225 20 10 20C4.4775 20 0 15.5225 0 10C0 4.4775 4.4775 0 10 0ZM14.9483 6.42556C15.2133 4.83481 14.6818 4.69732 12.9498 5.41548C12.2893 5.68994 7.50599 7.67256 3.80941 9.29873C2.88765 9.70435 2.66236 10.1264 3.61163 10.4521C3.85806 10.5367 4.49108 10.7589 5.13944 10.945C5.99721 11.1914 6.47528 11.0365 6.97292 10.6986C7.00853 10.6744 7.07055 10.6327 7.1552 10.5761L7.29868 10.4803C7.80379 10.1432 8.77707 9.49639 9.815 8.80737L10.1445 8.5887C10.2547 8.51554 10.3651 8.44223 10.4754 8.36908L10.8049 8.1504C11.1329 7.93281 11.4546 7.71942 11.7573 7.51866C11.9667 7.37958 12.1947 7.66462 12.0133 7.83808C11.7969 8.04449 11.5709 8.2601 11.3425 8.478L11.0679 8.74013C9.92269 9.83328 8.79147 10.9148 8.57952 11.1222C7.89912 11.7879 8.31062 12.1611 8.72017 12.4574L8.81786 12.5272L8.86563 12.5611C8.90586 12.5899 8.95819 12.6265 9.02056 12.6696L9.2358 12.8169C10.0402 13.3639 11.6456 14.4256 12.0127 14.668C12.9287 15.2725 13.5115 15.107 13.7711 13.7098C14.209 11.3538 14.7579 7.5689 14.9483 6.42556Z"
                                            fill="currentColor" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_102_885">
                                            <rect width="20" height="20" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg></a></li>
                        <li class="footer__social-item"><a href="#">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_102_890)">
                                        <path
                                            d="M10 0C4.4775 0 0 4.50057 0 10.0515C0 15.0907 3.69333 19.252 8.505 19.9791V12.7152H6.03083V10.0733H8.505V8.31511C8.505 5.40436 9.91583 4.12698 12.3225 4.12698C13.475 4.12698 14.085 4.21326 14.3733 4.25179V6.55778H12.7317C11.71 6.55778 11.3533 7.53193 11.3533 8.62922V10.0733H14.3475L13.9417 12.7152H11.3533V20C16.2342 19.3349 20 15.1401 20 10.0515C20 4.50057 15.5225 0 10 0Z"
                                            fill="currentColor" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_102_890">
                                            <rect width="20" height="20" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg> </a></li>
                        <li class="footer__social-item"><a href="#">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_102_892)">
                                        <path
                                            d="M6.05269 0C2.71532 0 6.10352e-05 2.71526 6.10352e-05 6.05263V13.9474C6.10352e-05 17.2847 2.71532 20 6.05269 20H13.9474C17.2848 20 20.0001 17.2847 20.0001 13.9474V6.05263C20.0001 2.71526 17.2848 0 13.9474 0H6.05269ZM15.2632 3.68421C15.8448 3.68421 16.3159 4.15526 16.3159 4.73684C16.3159 5.31789 15.8448 5.78947 15.2632 5.78947C14.6816 5.78947 14.2106 5.31789 14.2106 4.73684C14.2106 4.15526 14.6816 3.68421 15.2632 3.68421ZM10.0001 4.73684C12.9022 4.73684 15.2632 7.0979 15.2632 10C15.2632 12.9021 12.9022 15.2632 10.0001 15.2632C7.09796 15.2632 4.7369 12.9021 4.7369 10C4.7369 7.0979 7.09796 4.73684 10.0001 4.73684ZM10.0001 6.31579C9.51624 6.31579 9.03716 6.41108 8.59018 6.59623C8.14319 6.78138 7.73704 7.05276 7.39493 7.39487C7.05282 7.73698 6.78144 8.14313 6.59629 8.59011C6.41115 9.0371 6.31585 9.51618 6.31585 10C6.31585 10.4838 6.41115 10.9629 6.59629 11.4099C6.78144 11.8569 7.05282 12.263 7.39493 12.6051C7.73704 12.9472 8.14319 13.2186 8.59018 13.4038C9.03716 13.5889 9.51624 13.6842 10.0001 13.6842C10.4839 13.6842 10.963 13.5889 11.4099 13.4038C11.8569 13.2186 12.2631 12.9472 12.6052 12.6051C12.9473 12.263 13.2187 11.8569 13.4038 11.4099C13.589 10.9629 13.6843 10.4838 13.6843 10C13.6843 9.51618 13.589 9.0371 13.4038 8.59011C13.2187 8.14313 12.9473 7.73698 12.6052 7.39487C12.2631 7.05276 11.8569 6.78138 11.4099 6.59623C10.963 6.41108 10.4839 6.31579 10.0001 6.31579Z"
                                            fill="currentColor" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_102_892">
                                            <rect width="20" height="20" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom">
                <nav class="footer__nav">
                    <ul class="footer__nav-list">
                        <li class="foooter__nav-item"> <a class="footer__nav-link" href="/about/uz">kompaniya
                                haqida</a></li>
                        <li class="foooter__nav-item"> <a class="footer__nav-link"
                                href="/catalog/uz">mahsulotlar</a></li>
                        <li class="foooter__nav-item"> <a class="footer__nav-link"
                                href="/contact/uz">kontaktlar</a></li>
                    </ul>
                </nav><a class="footer-email" href="mailto:offer@mali.uz">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="mask0_146_1080" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                            width="20" height="20">
                            <rect width="20" height="20" fill="#D9D9D9" />
                        </mask>
                        <g mask="url(#mask0_146_1080)">
                            <path
                                d="M10.75 1.41659L17.25 5.14575C17.4861 5.28464 17.6701 5.4652 17.8021 5.68742C17.934 5.90964 18 6.15964 18 6.43742V15.4999C18 15.9124 17.8531 16.2655 17.5594 16.5593C17.2656 16.853 16.9125 16.9999 16.5 16.9999H3.5C3.0875 16.9999 2.73438 16.853 2.44063 16.5593C2.14688 16.2655 2 15.9124 2 15.4999V6.43742C2 6.15964 2.06597 5.90964 2.19792 5.68742C2.32986 5.4652 2.51389 5.28464 2.75 5.14575L9.25 1.41659C9.48042 1.2777 9.72896 1.20825 9.99563 1.20825C10.2624 1.20825 10.5139 1.2777 10.75 1.41659ZM10 10.2291L16.5 6.49992L10 2.77075L3.5 6.49992L10 10.2291Z"
                                fill="currentColor" />
                        </g>
                    </svg>
                    <h3>offer@mali.uz</h3>
                </a>
            </div>
        </div>
        <div class="container">
            <ul class="footer__list">
                <li class="footer__list-item">ООО Mali. Barcha huquqlar himoyalangan. 2016-2024</li>
                <li class="footer__list-item"><a href="#">Maxfiylik siyosati</a></li>
                <li class="footer__list-item"><a href="#">Foydalanish shartlari</a></li>
                <li class="footer__list-item"><a href="#">Ommaviy taklif</a></li>
            </ul>
        </div>
    </footer>
</div>