<div class="wrapper">
    {{> ru/nav}}
    <div class="not-found" style="margin-top: 200px; text-align: center; font-size: 32px; color: #e80029; font-weight: 700; font-family: 'Arial Bold';">

    Страница не найдена

    {{> ru/footer}}
</div>