    <footer class="footer">
      <div class="footer-content">
        <div class="footer-top">
          <div class="footer-top__left"> <a class="footer-logo" href="/en"> <img src="/img/logo_mali.svg"
                alt="alt"></a>
            <div class="footer-top__info"> <a class="footer-address" href="https://maps.app.goo.gl/Qh8VSzPJHvmbTETdA">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <mask id="mask0_141_1066" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                    height="20">
                    <rect width="20" height="20" fill="#D9D9D9" />
                  </mask>
                  <g mask="url(#mask0_141_1066)">
                    <path
                      d="M10.0044 10C10.4181 10 10.7708 9.85271 11.0625 9.55813C11.3542 9.26354 11.5 8.90937 11.5 8.49562C11.5 8.08187 11.3527 7.72917 11.0581 7.4375C10.7635 7.14583 10.4094 7 9.99563 7C9.58188 7 9.22917 7.14729 8.9375 7.44188C8.64583 7.73646 8.5 8.09063 8.5 8.50438C8.5 8.91813 8.64729 9.27083 8.94187 9.5625C9.23646 9.85417 9.59062 10 10.0044 10ZM10 16.0208C11.6528 14.5347 12.8993 13.1667 13.7396 11.9167C14.5799 10.6667 15 9.54861 15 8.5625C15 7.10417 14.5243 5.89583 13.5729 4.9375C12.6215 3.97917 11.4306 3.5 10 3.5C8.56944 3.5 7.37847 3.97917 6.42708 4.9375C5.47569 5.89583 5 7.10417 5 8.5625C5 9.54861 5.42014 10.6667 6.26042 11.9167C7.10069 13.1667 8.34722 14.5347 10 16.0208ZM10 18C7.81986 16.179 6.19146 14.4877 5.11479 12.926C4.03826 11.3642 3.5 9.90972 3.5 8.5625C3.5 6.70139 4.11806 5.14236 5.35417 3.88542C6.59028 2.62847 8.13542 2 9.98958 2C11.8438 2 13.3924 2.62847 14.6354 3.88542C15.8785 5.14236 16.5 6.70139 16.5 8.5625C16.5 9.90972 15.9653 11.3611 14.8958 12.9167C13.8264 14.4722 12.1944 16.1667 10 18Z"
                      fill="currentColor" />
                  </g>
                </svg>
                <h3>Tashkent, Parkent street 327</h3>
              </a><a class="footer-phone" href="tel:+998712003005">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <mask id="mask0_141_1074" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                    height="20">
                    <rect width="20" height="20" fill="currentColor" />
                  </mask>
                  <g mask="url(#mask0_141_1074)">
                    <path
                      d="M2.89579 16.8958L1.24995 15.2292C1.05551 15.0347 0.954813 14.8021 0.947869 14.5312C0.940925 14.2604 1.03467 14.0278 1.22912 13.8333C2.32634 12.6528 3.62495 11.7188 5.12495 11.0312C6.62495 10.3438 8.24995 10 9.99995 10C11.75 10 13.375 10.3438 14.875 11.0312C16.375 11.7188 17.6736 12.6528 18.7708 13.8333C18.9652 14.0278 19.059 14.2604 19.052 14.5312C19.0451 14.8021 18.9444 15.0347 18.75 15.2292L17.1041 16.8958C16.9513 17.0486 16.7569 17.1458 16.5208 17.1875C16.2847 17.2292 16.0486 17.1667 15.8125 17L13.4166 15.2917C13.2916 15.1944 13.1909 15.0729 13.1145 14.9271C13.0381 14.7813 13 14.6344 13 14.4865V11.9583C12.5138 11.8056 12.0226 11.691 11.5262 11.6146C11.0298 11.5382 10.5211 11.5 9.99995 11.5C9.47884 11.5 8.97009 11.5382 8.4737 11.6146C7.97731 11.691 7.48606 11.8056 6.99995 11.9583V14.4865C6.99995 14.6344 6.96176 14.7813 6.88537 14.9271C6.80898 15.0729 6.70829 15.1944 6.58329 15.2917L4.18745 17C3.95134 17.1667 3.71176 17.2257 3.4687 17.1771C3.22565 17.1285 3.03467 17.0347 2.89579 16.8958ZM5.49995 12.3542C4.98606 12.6042 4.48954 12.9028 4.01037 13.25C3.5312 13.5972 3.07634 13.9722 2.64579 14.375L3.66662 15.3958L5.49995 14.0833V12.3542ZM14.5 12.3542V14.0833L16.3333 15.3958L17.3541 14.375C16.9236 13.9583 16.4722 13.5799 16 13.2396C15.5277 12.8993 15.0277 12.6042 14.5 12.3542ZM9.24995 6V2H10.75V6H9.24995ZM14.4375 8.22917L13.375 7.16667L16.2083 4.33333L17.2708 5.39583L14.4375 8.22917ZM5.56245 8.22917L2.72912 5.39583L3.79162 4.33333L6.62495 7.16667L5.56245 8.22917Z"
                      fill="currentColor" />
                  </g>
                </svg>
                <h3>+998 71 200 30 05</h3>
              </a><a class="footer-email mob" href="mailto:offer@mali.uz"><svg width="20" height="20"
                  viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <mask id="mask0_146_1080" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                    height="20">
                    <rect width="20" height="20" fill="currentColor" />
                  </mask>
                  <g mask="url(#mask0_146_1080)">
                    <path
                      d="M10.75 1.41659L17.25 5.14575C17.4861 5.28464 17.6701 5.4652 17.8021 5.68742C17.934 5.90964 18 6.15964 18 6.43742V15.4999C18 15.9124 17.8531 16.2655 17.5594 16.5593C17.2656 16.853 16.9125 16.9999 16.5 16.9999H3.5C3.0875 16.9999 2.73438 16.853 2.44063 16.5593C2.14688 16.2655 2 15.9124 2 15.4999V6.43742C2 6.15964 2.06597 5.90964 2.19792 5.68742C2.32986 5.4652 2.51389 5.28464 2.75 5.14575L9.25 1.41659C9.48042 1.2777 9.72896 1.20825 9.99563 1.20825C10.2624 1.20825 10.5139 1.2777 10.75 1.41659ZM10 10.2291L16.5 6.49992L10 2.77075L3.5 6.49992L10 10.2291Z"
                      fill="currentColor" />
                  </g>
                </svg>
                <h3>offer@mali.uz</h3>
              </a></div>
          </div>
          <div class="footer-top__right">
            <a class="button" href="#program" >become a partner</a>
            <ul class="header__social">
                <li class="header__social-item"><a href="https://t.me/mali_uzb">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_102_885)">
                                <path
                                    d="M10 0C15.5225 0 20 4.4775 20 10C20 15.5225 15.5225 20 10 20C4.4775 20 0 15.5225 0 10C0 4.4775 4.4775 0 10 0ZM14.9483 6.42556C15.2133 4.83481 14.6818 4.69732 12.9498 5.41548C12.2893 5.68994 7.50599 7.67256 3.80941 9.29873C2.88765 9.70435 2.66236 10.1264 3.61163 10.4521C3.85806 10.5367 4.49108 10.7589 5.13944 10.945C5.99721 11.1914 6.47528 11.0365 6.97292 10.6986C7.00853 10.6744 7.07055 10.6327 7.1552 10.5761L7.29868 10.4803C7.80379 10.1432 8.77707 9.49639 9.815 8.80737L10.1445 8.5887C10.2547 8.51554 10.3651 8.44223 10.4754 8.36908L10.8049 8.1504C11.1329 7.93281 11.4546 7.71942 11.7573 7.51866C11.9667 7.37958 12.1947 7.66462 12.0133 7.83808C11.7969 8.04449 11.5709 8.2601 11.3425 8.478L11.0679 8.74013C9.92269 9.83328 8.79147 10.9148 8.57952 11.1222C7.89912 11.7879 8.31062 12.1611 8.72017 12.4574L8.81786 12.5272L8.86563 12.5611C8.90586 12.5899 8.95819 12.6265 9.02056 12.6696L9.2358 12.8169C10.0402 13.3639 11.6456 14.4256 12.0127 14.668C12.9287 15.2725 13.5115 15.107 13.7711 13.7098C14.209 11.3538 14.7579 7.5689 14.9483 6.42556Z"
                                    fill="currentColor" />
                            </g>
                            <defs>
                                <clipPath id="clip0_102_885">
                                    <rect width="20" height="20" fill="white" />
                                </clipPath>
                            </defs>
                        </svg></a></li>
                <li class="header__social-item"><a href="https://www.facebook.com/mali.uzb">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_102_890)">
                                <path
                                    d="M10 0C4.4775 0 0 4.50057 0 10.0515C0 15.0907 3.69333 19.252 8.505 19.9791V12.7152H6.03083V10.0733H8.505V8.31511C8.505 5.40436 9.91583 4.12698 12.3225 4.12698C13.475 4.12698 14.085 4.21326 14.3733 4.25179V6.55778H12.7317C11.71 6.55778 11.3533 7.53193 11.3533 8.62922V10.0733H14.3475L13.9417 12.7152H11.3533V20C16.2342 19.3349 20 15.1401 20 10.0515C20 4.50057 15.5225 0 10 0Z"
                                    fill="currentColor" />
                            </g>
                            <defs>
                                <clipPath id="clip0_102_890">
                                    <rect width="20" height="20" fill="white" />
                                </clipPath>
                            </defs>
                        </svg> </a></li>
                <li class="header__social-item"><a href="https://www.instagram.com/mali_uzb/">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_102_892)">
                                <path
                                    d="M6.05269 0C2.71532 0 6.10352e-05 2.71526 6.10352e-05 6.05263V13.9474C6.10352e-05 17.2847 2.71532 20 6.05269 20H13.9474C17.2848 20 20.0001 17.2847 20.0001 13.9474V6.05263C20.0001 2.71526 17.2848 0 13.9474 0H6.05269ZM15.2632 3.68421C15.8448 3.68421 16.3159 4.15526 16.3159 4.73684C16.3159 5.31789 15.8448 5.78947 15.2632 5.78947C14.6816 5.78947 14.2106 5.31789 14.2106 4.73684C14.2106 4.15526 14.6816 3.68421 15.2632 3.68421ZM10.0001 4.73684C12.9022 4.73684 15.2632 7.0979 15.2632 10C15.2632 12.9021 12.9022 15.2632 10.0001 15.2632C7.09796 15.2632 4.7369 12.9021 4.7369 10C4.7369 7.0979 7.09796 4.73684 10.0001 4.73684ZM10.0001 6.31579C9.51624 6.31579 9.03716 6.41108 8.59018 6.59623C8.14319 6.78138 7.73704 7.05276 7.39493 7.39487C7.05282 7.73698 6.78144 8.14313 6.59629 8.59011C6.41115 9.0371 6.31585 9.51618 6.31585 10C6.31585 10.4838 6.41115 10.9629 6.59629 11.4099C6.78144 11.8569 7.05282 12.263 7.39493 12.6051C7.73704 12.9472 8.14319 13.2186 8.59018 13.4038C9.03716 13.5889 9.51624 13.6842 10.0001 13.6842C10.4839 13.6842 10.963 13.5889 11.4099 13.4038C11.8569 13.2186 12.2631 12.9472 12.6052 12.6051C12.9473 12.263 13.2187 11.8569 13.4038 11.4099C13.589 10.9629 13.6843 10.4838 13.6843 10C13.6843 9.51618 13.589 9.0371 13.4038 8.59011C13.2187 8.14313 12.9473 7.73698 12.6052 7.39487C12.2631 7.05276 11.8569 6.78138 11.4099 6.59623C10.963 6.41108 10.4839 6.31579 10.0001 6.31579Z"
                                    fill="currentColor" />
                            </g>
                            <defs>
                                <clipPath id="clip0_102_892">
                                    <rect width="20" height="20" fill="white" />
                                </clipPath>
                            </defs>
                        </svg></a></li>
            </ul>
          </div>
        </div>
        <div class="footer-bottom">
          <nav class="footer__nav">
            <ul class="footer__nav-list">
              <li class="foooter__nav-item"> <a class="footer__nav-link" href="/about/en"> about us</a></li>
              <li class="foooter__nav-item"> <a class="footer__nav-link" href="/catalog/en">products</a></li>
              <li class="foooter__nav-item"> <a class="footer__nav-link" href="/contact/en">contacts</a></li>
            </ul>
          </nav><a class="footer-email" href="mailto:offer@mali.uz">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <mask id="mask0_146_1080" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                height="20">
                <rect width="20" height="20" fill="#D9D9D9" />
              </mask>
              <g mask="url(#mask0_146_1080)">
                <path
                  d="M10.75 1.41659L17.25 5.14575C17.4861 5.28464 17.6701 5.4652 17.8021 5.68742C17.934 5.90964 18 6.15964 18 6.43742V15.4999C18 15.9124 17.8531 16.2655 17.5594 16.5593C17.2656 16.853 16.9125 16.9999 16.5 16.9999H3.5C3.0875 16.9999 2.73438 16.853 2.44063 16.5593C2.14688 16.2655 2 15.9124 2 15.4999V6.43742C2 6.15964 2.06597 5.90964 2.19792 5.68742C2.32986 5.4652 2.51389 5.28464 2.75 5.14575L9.25 1.41659C9.48042 1.2777 9.72896 1.20825 9.99563 1.20825C10.2624 1.20825 10.5139 1.2777 10.75 1.41659ZM10 10.2291L16.5 6.49992L10 2.77075L3.5 6.49992L10 10.2291Z"
                  fill="currentColor" />
              </g>
            </svg>
            <h3>offer@mali.uz</h3>
          </a>
        </div>
      </div>
      <div class="container">
        <ul class="footer__list">
          <li class="footer__list-item">LLC Mali. All rights reserved. 2016-2024 v2</li>
          <li class="footer__list-item"><a href="#">Privacy Policy</a></li>
          <li class="footer__list-item"><a href="#">Terms of Use</a></li>
          <li class="footer__list-item"><a href="#">Public Offer</a></li>
        </ul>
      </div>
    </footer>