  <div class="wrapper">
    {{> en/nav}}
    <section class="about">
      <div class="container">
        <div class="about__header">
          <h2 class="about-title">Our company</h2>
          <div class="about__header-btns"> <a class="conctact__header-btn button-mini first" href="/catalog/en">
              <h3>Catalog</h3><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_50_1360" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                  height="20">
                  <rect width="20" height="20" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_50_1360)">
                  <path
                    d="M6 14H12V12.5H6V14ZM6 10.75H14V9.25H6V10.75ZM6 7.5H14V6H6V7.5ZM4.5 17C4.0875 17 3.73437 16.8531 3.44062 16.5594C3.14687 16.2656 3 15.9125 3 15.5V4.5C3 4.0875 3.14687 3.73438 3.44062 3.44063C3.73437 3.14688 4.0875 3 4.5 3H15.5C15.9125 3 16.2656 3.14688 16.5594 3.44063C16.8531 3.73438 17 4.0875 17 4.5V15.5C17 15.9125 16.8531 16.2656 16.5594 16.5594C16.2656 16.8531 15.9125 17 15.5 17H4.5ZM4.5 15.5H15.5V4.5H4.5V15.5Z"
                    fill="#E80029" />
                </g>
              </svg>
            </a>
            {{!-- <button class="conctact__header-btn button-mini" type="button">
              <h3>Price-list</h3><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_50_1360" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                  height="20">
                  <rect width="20" height="20" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_50_1360)">
                  <path
                    d="M6 14H12V12.5H6V14ZM6 10.75H14V9.25H6V10.75ZM6 7.5H14V6H6V7.5ZM4.5 17C4.0875 17 3.73437 16.8531 3.44062 16.5594C3.14687 16.2656 3 15.9125 3 15.5V4.5C3 4.0875 3.14687 3.73438 3.44062 3.44063C3.73437 3.14688 4.0875 3 4.5 3H15.5C15.9125 3 16.2656 3.14688 16.5594 3.44063C16.8531 3.73438 17 4.0875 17 4.5V15.5C17 15.9125 16.8531 16.2656 16.5594 16.5594C16.2656 16.8531 15.9125 17 15.5 17H4.5ZM4.5 15.5H15.5V4.5H4.5V15.5Z"
                    fill="#E80029" />
                </g>
              </svg>
            </button>
            <button class="conctact__header-btn button-mini" type="button">
              <h3>Presentation</h3><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_50_1360" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                  height="20">
                  <rect width="20" height="20" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_50_1360)">
                  <path
                    d="M6 14H12V12.5H6V14ZM6 10.75H14V9.25H6V10.75ZM6 7.5H14V6H6V7.5ZM4.5 17C4.0875 17 3.73437 16.8531 3.44062 16.5594C3.14687 16.2656 3 15.9125 3 15.5V4.5C3 4.0875 3.14687 3.73438 3.44062 3.44063C3.73437 3.14688 4.0875 3 4.5 3H15.5C15.9125 3 16.2656 3.14688 16.5594 3.44063C16.8531 3.73438 17 4.0875 17 4.5V15.5C17 15.9125 16.8531 16.2656 16.5594 16.5594C16.2656 16.8531 15.9125 17 15.5 17H4.5ZM4.5 15.5H15.5V4.5H4.5V15.5Z"
                    fill="#E80029" />
                </g>
              </svg>
            </button> --}}
          </div>
        </div>
        <div class="about__wrapper">
          <div class="about-text">
            <p>Since 2016, Mali has been setting high standards in the frozen semi-finished product industry in
              Uzbekistan.</p>
            <p>Every stage of production is carefully monitored to preserve all the beneficial properties and natural
              taste of the products, allowing consumers to enjoy healthy and delicious food.</p>
          </div>
          <div class="about__video">
            <div class="about__video-top">All Mali products are made <br>from selected natural ingredients,<br>ensuring
              unmatched quality and taste.</div>
            <div class="about__video-slider">
              <div class="swiper videoSlider">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"> 
                    <iframe height="100%" width="100%" src="https://www.youtube.com/embed/GtDqFSzjEfQ" allowfullscreen controls frameborder="0"></iframe>
                    {{!-- <img src="/img/about-video.jpg" alt="video">
                    <button class="about__video-btn" type="button"><svg width="60" height="60" viewBox="0 0 60 60"
                        fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="mask0_55_2850" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                          width="60" height="60">
                          <rect width="60" height="60" fill="#D9D9D9" />
                        </mask>
                        <g mask="url(#mask0_55_2850)">
                          <path
                            d="M24 40.5L40.5 30L24 19.5V40.5ZM30.0175 54C26.7142 54 23.6042 53.375 20.6875 52.125C17.7708 50.875 15.2188 49.1562 13.0312 46.9688C10.8438 44.7812 9.125 42.23 7.875 39.315C6.625 36.4 6 33.2854 6 29.9713C6 26.6571 6.625 23.5521 7.875 20.6563C9.125 17.7604 10.8438 15.2188 13.0312 13.0312C15.2188 10.8438 17.77 9.125 20.685 7.875C23.6 6.625 26.7146 6 30.0288 6C33.3429 6 36.4479 6.625 39.3438 7.875C42.2396 9.125 44.7812 10.8438 46.9688 13.0312C49.1562 15.2188 50.875 17.765 52.125 20.67C53.375 23.5754 54 26.6796 54 29.9825C54 33.2858 53.375 36.3958 52.125 39.3125C50.875 42.2292 49.1562 44.7812 46.9688 46.9688C44.7812 49.1562 42.235 50.875 39.33 52.125C36.4246 53.375 33.3204 54 30.0175 54ZM30 49.5C35.4167 49.5 40.0208 47.6042 43.8125 43.8125C47.6042 40.0208 49.5 35.4167 49.5 30C49.5 24.5833 47.6042 19.9792 43.8125 16.1875C40.0208 12.3958 35.4167 10.5 30 10.5C24.5833 10.5 19.9792 12.3958 16.1875 16.1875C12.3958 19.9792 10.5 24.5833 10.5 30C10.5 35.4167 12.3958 40.0208 16.1875 43.8125C19.9792 47.6042 24.5833 49.5 30 49.5Z"
                            fill="white" />
                        </g>
                      </svg>
                    </button> --}}
                  </div>
                  {{!-- <div class="swiper-slide"> <img src="/img/about-video.jpg" alt="video">
                    <button class="about__video-btn" type="button"><svg width="60" height="60" viewBox="0 0 60 60"
                        fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="mask0_55_2850" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                          width="60" height="60">
                          <rect width="60" height="60" fill="#D9D9D9" />
                        </mask>
                        <g mask="url(#mask0_55_2850)">
                          <path
                            d="M24 40.5L40.5 30L24 19.5V40.5ZM30.0175 54C26.7142 54 23.6042 53.375 20.6875 52.125C17.7708 50.875 15.2188 49.1562 13.0312 46.9688C10.8438 44.7812 9.125 42.23 7.875 39.315C6.625 36.4 6 33.2854 6 29.9713C6 26.6571 6.625 23.5521 7.875 20.6563C9.125 17.7604 10.8438 15.2188 13.0312 13.0312C15.2188 10.8438 17.77 9.125 20.685 7.875C23.6 6.625 26.7146 6 30.0288 6C33.3429 6 36.4479 6.625 39.3438 7.875C42.2396 9.125 44.7812 10.8438 46.9688 13.0312C49.1562 15.2188 50.875 17.765 52.125 20.67C53.375 23.5754 54 26.6796 54 29.9825C54 33.2858 53.375 36.3958 52.125 39.3125C50.875 42.2292 49.1562 44.7812 46.9688 46.9688C44.7812 49.1562 42.235 50.875 39.33 52.125C36.4246 53.375 33.3204 54 30.0175 54ZM30 49.5C35.4167 49.5 40.0208 47.6042 43.8125 43.8125C47.6042 40.0208 49.5 35.4167 49.5 30C49.5 24.5833 47.6042 19.9792 43.8125 16.1875C40.0208 12.3958 35.4167 10.5 30 10.5C24.5833 10.5 19.9792 12.3958 16.1875 16.1875C12.3958 19.9792 10.5 24.5833 10.5 30C10.5 35.4167 12.3958 40.0208 16.1875 43.8125C19.9792 47.6042 24.5833 49.5 30 49.5Z"
                            fill="white" />
                        </g>
                      </svg>
                    </button>
                  </div>
                  <div class="swiper-slide"> <img src="/img/about-video.jpg" alt="video">
                    <button class="about__video-btn" type="button"><svg width="60" height="60" viewBox="0 0 60 60"
                        fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="mask0_55_2850" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                          width="60" height="60">
                          <rect width="60" height="60" fill="#D9D9D9" />
                        </mask>
                        <g mask="url(#mask0_55_2850)">
                          <path
                            d="M24 40.5L40.5 30L24 19.5V40.5ZM30.0175 54C26.7142 54 23.6042 53.375 20.6875 52.125C17.7708 50.875 15.2188 49.1562 13.0312 46.9688C10.8438 44.7812 9.125 42.23 7.875 39.315C6.625 36.4 6 33.2854 6 29.9713C6 26.6571 6.625 23.5521 7.875 20.6563C9.125 17.7604 10.8438 15.2188 13.0312 13.0312C15.2188 10.8438 17.77 9.125 20.685 7.875C23.6 6.625 26.7146 6 30.0288 6C33.3429 6 36.4479 6.625 39.3438 7.875C42.2396 9.125 44.7812 10.8438 46.9688 13.0312C49.1562 15.2188 50.875 17.765 52.125 20.67C53.375 23.5754 54 26.6796 54 29.9825C54 33.2858 53.375 36.3958 52.125 39.3125C50.875 42.2292 49.1562 44.7812 46.9688 46.9688C44.7812 49.1562 42.235 50.875 39.33 52.125C36.4246 53.375 33.3204 54 30.0175 54ZM30 49.5C35.4167 49.5 40.0208 47.6042 43.8125 43.8125C47.6042 40.0208 49.5 35.4167 49.5 30C49.5 24.5833 47.6042 19.9792 43.8125 16.1875C40.0208 12.3958 35.4167 10.5 30 10.5C24.5833 10.5 19.9792 12.3958 16.1875 16.1875C12.3958 19.9792 10.5 24.5833 10.5 30C10.5 35.4167 12.3958 40.0208 16.1875 43.8125C19.9792 47.6042 24.5833 49.5 30 49.5Z"
                            fill="white" />
                        </g>
                      </svg>
                    </button>
                  </div> --}}
                </div>
                <div class="swiper-pagination videoPagination"></div>
              </div>
              <div class="about__video-navigation">
                <button class="about__video-prev" type="button"><svg width="30" height="30" viewBox="0 0 30 30"
                    fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="30" height="30" fill="#E80029" />
                    <mask id="mask0_55_2839" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="5" y="5" width="20"
                      height="20">
                      <rect x="5" y="5" width="20" height="20" fill="#D9D9D9" />
                    </mask>
                    <g mask="url(#mask0_55_2839)">
                      <path
                        d="M11.8333 15L17.7083 20.875C17.9028 21.0695 18 21.3056 18 21.5834C18 21.8612 17.9028 22.0973 17.7083 22.2917C17.5139 22.4862 17.2778 22.5834 17 22.5834C16.7222 22.5834 16.4861 22.4862 16.2917 22.2917L10.0625 16.0625C9.90972 15.9098 9.79861 15.7431 9.72917 15.5625C9.65972 15.382 9.625 15.1945 9.625 15C9.625 14.8056 9.65972 14.6181 9.72917 14.4375C9.79861 14.257 9.90972 14.0903 10.0625 13.9375L16.2917 7.70837C16.4861 7.51393 16.7222 7.41671 17 7.41671C17.2778 7.41671 17.5139 7.51393 17.7083 7.70837C17.9028 7.90282 18 8.13893 18 8.41671C18 8.69448 17.9028 8.9306 17.7083 9.12504L11.8333 15Z"
                        fill="white" />
                    </g>
                  </svg>
                </button>
                <button class="about__video-next" type="button"><svg width="30" height="30" viewBox="0 0 30 30"
                    fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="30" height="30" fill="#E80029" />
                    <mask id="mask0_55_2838" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="5" y="5" width="20"
                      height="20">
                      <rect x="5" y="5" width="20" height="20" fill="#D9D9D9" />
                    </mask>
                    <g mask="url(#mask0_55_2838)">
                      <path
                        d="M18.1667 15L12.2917 9.12502C12.0972 8.93058 12 8.69446 12 8.41669C12 8.13891 12.0972 7.9028 12.2917 7.70835C12.4861 7.51391 12.7222 7.41669 13 7.41669C13.2778 7.41669 13.5139 7.51391 13.7083 7.70835L19.9375 13.9375C20.0903 14.0903 20.2014 14.257 20.2708 14.4375C20.3403 14.6181 20.375 14.8056 20.375 15C20.375 15.1945 20.3403 15.382 20.2708 15.5625C20.2014 15.7431 20.0903 15.9097 19.9375 16.0625L13.7083 22.2917C13.5139 22.4861 13.2778 22.5834 13 22.5834C12.7222 22.5834 12.4861 22.4861 12.2917 22.2917C12.0972 22.0972 12 21.8611 12 21.5834C12 21.3056 12.0972 21.0695 12.2917 20.875L18.1667 15Z"
                        fill="white" />
                    </g>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="about__wrapper-images">
            <div class="about__wrapper-img first"> <img src="/img/pelmeni/item3.png" draggable="false" alt="item"></div>
            <div class="about__wrapper-img second"> <img src="/img/pelmeni/item4.png" draggable="false" alt="item"></div>
            <div class="about__wrapper-img third"> <img src="/img/pelmeni/item5.png" draggable="false" alt="item"></div>
            <div class="about__wrapper-img fourth"> <img src="/img/pelmeni/item6.png" draggable="false" alt="item"></div>
            <div class="about__wrapper-img fifth"> <img src="/img/pelmeni/item7.png" draggable="false" alt="item"></div>
            <div class="about__wrapper-img sixth"> <img src="/img/pelmeni/item2.png" draggable="false" alt="item"></div>
            <div class="about__wrapper-img seventh"> <img src="/img/pelmeni/item1.png" draggable="false" alt="item">
            </div>
          </div>
        </div>
        <div class="about__center">
          <div class="about__center-img"><img src="/img/logo_mali.svg" alt="logo"></div>
          <h2 class="about__center-title">With Love for Everyone</h2>
          <p class="about__center-text">We inspire homemakers to create perfect and healthy dishes by offering
            high-quality semi-finished products that allow them to show care and appreciation for every family member.
          </p>
        </div>
        <div class="about__aim">
          <div class="about__aim-bottom second">
            <div class="about__aim-img first"><img src="/img/about_img_1.jpg" alt="aim"></div>
          </div>
          <div class="about__aim-top">
            <h3 class="about__aim-title">Our Goal</h3>
            <div class="about__aim-right">
              <p class="about__aim-text">— to help you prepare the perfect dish that connects hearts and strengthens the
                warmth of the home.</p>
              <p class="about__aim-text">— to become an essential part of every home by providing restaurant-quality
                products that make everyday meals special and healthy.</p>
            </div>
          </div>
          <div class="about__aim-bottom">
            <div class="about__aim-img first"><img src="/img/about_img_1.jpg" alt="aim"></div>
            <div class="about__aim-img second"><img src="/img/about_img_2.jpg" alt="aim"></div>
          </div>
        </div>
        <div class="standarts">
          <h2 class="standarts-title">High standards</h2>
          <div class="standarts__header">
            <p class="standarts__header-text">Mali adheres to strict international quality standards,
              confirmed by certificates</p>
            <p class="standarts__header-subtext">Also, the complete openness of the production processes ensures that each product meets the highest safety and quality requirements.</p>
          </div>
          <ul class="standarts__list">
            <li class="standarts__list-item">
              <div class="standarts__item-img"> <img src="/img/sertificate/item1.png" alt="sertificate"></div>
              <div class="standarts__item-content">
                <div class="standarts__item-type">Certification</div>
                <div class="standarts__item-names">
                  <h3>ISO 9001:2015,</h3>
                  <h3>ISO 22000:2018</h3>
                </div><a class="button-mini standarts__item-btn" href="/files/ISO_9001_2015.pdf">
                  <h3>Look</h3><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <mask id="mask0_55_3023" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                      height="20">
                      <rect width="20" height="20" fill="#D9D9D9" />
                    </mask>
                    <g mask="url(#mask0_55_3023)">
                      <path
                        d="M6 14H12V12.5H6V14ZM6 10.75H14V9.25H6V10.75ZM6 7.5H14V6H6V7.5ZM4.5 17C4.0875 17 3.73437 16.8531 3.44062 16.5594C3.14687 16.2656 3 15.9125 3 15.5V4.5C3 4.0875 3.14687 3.73438 3.44062 3.44063C3.73437 3.14688 4.0875 3 4.5 3H15.5C15.9125 3 16.2656 3.14688 16.5594 3.44063C16.8531 3.73438 17 4.0875 17 4.5V15.5C17 15.9125 16.8531 16.2656 16.5594 16.5594C16.2656 16.8531 15.9125 17 15.5 17H4.5ZM4.5 15.5H15.5V4.5H4.5V15.5Z"
                        fill="#E80029" />
                    </g>
                  </svg>
                </a>
              </div>
            </li>
            <li class="standarts__list-item">
              <div class="standarts__item-img"> <img src="/img/sertificate/item2.png" alt="sertificate"></div>
              <div class="standarts__item-content">
                <div class="standarts__item-type">Certification</div>
                <div class="standarts__item-names">
                  <h3>HACCP</h3>
                </div><a class="button-mini standarts__item-btn" href="/files/ISO_22000_2018.pdf">
                  <h3>Look</h3><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <mask id="mask0_55_3023" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                      height="20">
                      <rect width="20" height="20" fill="#D9D9D9" />
                    </mask>
                    <g mask="url(#mask0_55_3023)">
                      <path
                        d="M6 14H12V12.5H6V14ZM6 10.75H14V9.25H6V10.75ZM6 7.5H14V6H6V7.5ZM4.5 17C4.0875 17 3.73437 16.8531 3.44062 16.5594C3.14687 16.2656 3 15.9125 3 15.5V4.5C3 4.0875 3.14687 3.73438 3.44062 3.44063C3.73437 3.14688 4.0875 3 4.5 3H15.5C15.9125 3 16.2656 3.14688 16.5594 3.44063C16.8531 3.73438 17 4.0875 17 4.5V15.5C17 15.9125 16.8531 16.2656 16.5594 16.5594C16.2656 16.8531 15.9125 17 15.5 17H4.5ZM4.5 15.5H15.5V4.5H4.5V15.5Z"
                        fill="#E80029" />
                    </g>
                  </svg>
                </a>
              </div>
            </li>
            <li class="standarts__list-item">
              <div class="standarts__item-img"> <img src="/img/sertificate/item3.png" alt="sertificate"></div>
              <div class="standarts__item-content">
                <div class="standarts__item-type">Certification</div>
                <div class="standarts__item-names">
                  <h3>Halal</h3>
                </div><a class="button-mini standarts__item-btn" href="/files/EAT_GOOD_LLC.pdf">
                  <h3>Look</h3><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <mask id="mask0_55_3023" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                      height="20">
                      <rect width="20" height="20" fill="#D9D9D9" />
                    </mask>
                    <g mask="url(#mask0_55_3023)">
                      <path
                        d="M6 14H12V12.5H6V14ZM6 10.75H14V9.25H6V10.75ZM6 7.5H14V6H6V7.5ZM4.5 17C4.0875 17 3.73437 16.8531 3.44062 16.5594C3.14687 16.2656 3 15.9125 3 15.5V4.5C3 4.0875 3.14687 3.73438 3.44062 3.44063C3.73437 3.14688 4.0875 3 4.5 3H15.5C15.9125 3 16.2656 3.14688 16.5594 3.44063C16.8531 3.73438 17 4.0875 17 4.5V15.5C17 15.9125 16.8531 16.2656 16.5594 16.5594C16.2656 16.8531 15.9125 17 15.5 17H4.5ZM4.5 15.5H15.5V4.5H4.5V15.5Z"
                        fill="#E80029" />
                    </g>
                  </svg>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="program" id="program">
      <div class="program-item third"><img src="/img/pelmeni/item1.png" alt="item" draggable="false"></div>
      <div class="program-item fourth"><img src="/img/pelmeni/item2.png" alt="item" draggable="false"></div>
      <div class="program-wrapper second" >
        <div class="program-left">
          <h3 class="program-title">Partnership Program</h3>
          <p class="program-text">Mali actively collaborates with leading retailers and HoReCa industry representatives,
            such as:</p>
        </div>
        <div class="program__right">
          <h3 class="program__right-title">Fill out the application to join the program</h3>
          <p class="program__right-text">and receive exclusive partnership conditions, including specialized product
            lines and marketing support.</p>
          <div class="program__right-bottom" ><a class="button-other" href="#">
              {{!-- <h3>Presentation</h3>
              <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <rect width="30" height="30" fill="currentColor" />
                <mask id="mask0_102_791" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="5" y="5" width="20"
                  height="20">
                  <rect x="5" y="5" width="20" height="20" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_102_791)">
                  <path
                    d="M11 19H17V17.5H11V19ZM11 15.75H19V14.25H11V15.75ZM11 12.5H19V11H11V12.5ZM9.5 22C9.0875 22 8.73437 21.8531 8.44062 21.5594C8.14687 21.2656 8 20.9125 8 20.5V9.5C8 9.0875 8.14687 8.73438 8.44062 8.44063C8.73437 8.14688 9.0875 8 9.5 8H20.5C20.9125 8 21.2656 8.14688 21.5594 8.44063C21.8531 8.73438 22 9.0875 22 9.5V20.5C22 20.9125 21.8531 21.2656 21.5594 21.5594C21.2656 21.8531 20.9125 22 20.5 22H9.5ZM9.5 20.5H20.5V9.5H9.5V20.5Z"
                    fill="white" />
                </g>
              </svg> --}}
            </a><a class="button" href="/contact/en#program">apply now</a></div>
        </div>
      </div>
    </section>
    <section class="partners">
      <div class="partners-item"><img src="/img/pelmeni/item2.png" alt="item" draggable="false"></div>
      <div class="container">
        <h2 class="partners-title">Our partners</h2>
        <div class="partners__list first">
          <div class="partners__list-item one">Dodo pizza</div>
          <div class="partners__list-item two">Alpha Plaza Hotel & SPA</div>
          <div class="partners__list-item two">Panarams Tashkent Hotel</div>
          <div class="partners__list-item one">The Shahar</div>
          <div class="partners__list-item three">Asia Tashkent Hotel</div>
          <div class="partners__list-item four">Ariston Park | Tashkent</div>
          <div class="partners__list-item four">Crowne Plaza Tashkent</div>
          <div class="partners__list-item five">InterContinental Tashkent - IHG</div>
          <div class="partners__list-item six">Hotel Orient Plaza</div>
          <div class="partners__list-item six">Marriott tashkent hall</div>
          <div class="partners__list-item five">Ichan Qala Premium Class Hotel</div>
          <div class="partners__list-item seven">Korzinka</div>
          <div class="partners__list-item seven">Makro</div>
          <div class="partners__list-item eight">Bi1</div>
          <div class="partners__list-item seven">Baraka</div>
          <div class="partners__list-item nine">Havas</div>
          <div class="partners__list-item ten">Magnum</div>
        </div>
      </div>
      <div class="partners-slider">
        <div class="swiper partnerSwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide"> </div>
            <div class="swiper-slide"> </div>
            <div class="swiper-slide"> </div>
            <div class="swiper-slide"> </div>
            <div class="partners-inner">
              <div class="partners__list">
                <div class="partners__list-item two">Alpha Plaza Hotel & SPA</div>
                <div class="partners__list-item four">Dodo pizza</div>
                <div class="partners__list-item five">Ichan Qala Premium Class Hotel</div>
                <div class="partners__list-item six">Hotel Orient Plaza</div>
                <div class="partners__list-item three">Baraka</div>
                <div class="partners__list-item eight">Bi1</div>
                <div class="partners__list-item ten">Panarams Tashkent Hotel</div>
                <div class="partners__list-item one">Korzinka</div>
                <div class="partners__list-item five">InterContinental Tashkent - IHG</div>
                <div class="partners__list-item six">Asia Tashkent Hotel</div>
                <div class="partners__list-item nine">Havas</div>
                <div class="partners__list-item seven">Makro</div>
                <div class="partners__list-item two">Crowne Plaza Tashkent</div>
                <div class="partners__list-item eleven">The Shahar</div>
                <div class="partners__list-item twelve">Ariston Park | Tashkent</div>
                <div class="partners__list-item six">Marriott tashkent hall</div>
                <div class="partners__list-item nine">Magnum</div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination partnerPagination"></div>
        </div>
      </div>
    </section>
    <section class="call">
      <div class="call-wrapper">
        <h3 class="call-title">Call us if you have any questions</h3>
        <div class="call-item">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <mask id="mask0_55_2076" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
              height="20">
              <rect width="20" height="20" fill="#D9D9D9" />
            </mask>
            <g mask="url(#mask0_55_2076)">
              <path
                d="M2.89579 16.8958L1.24995 15.2292C1.05551 15.0347 0.954813 14.8021 0.947869 14.5312C0.940925 14.2604 1.03467 14.0278 1.22912 13.8333C2.32634 12.6528 3.62495 11.7188 5.12495 11.0312C6.62495 10.3438 8.24995 10 9.99995 10C11.75 10 13.375 10.3438 14.875 11.0312C16.375 11.7188 17.6736 12.6528 18.7708 13.8333C18.9652 14.0278 19.059 14.2604 19.052 14.5312C19.0451 14.8021 18.9444 15.0347 18.75 15.2292L17.1041 16.8958C16.9513 17.0486 16.7569 17.1458 16.5208 17.1875C16.2847 17.2292 16.0486 17.1667 15.8125 17L13.4166 15.2917C13.2916 15.1944 13.1909 15.0729 13.1145 14.9271C13.0381 14.7813 13 14.6344 13 14.4865V11.9583C12.5138 11.8056 12.0226 11.691 11.5262 11.6146C11.0298 11.5382 10.5211 11.5 9.99995 11.5C9.47884 11.5 8.97009 11.5382 8.4737 11.6146C7.97731 11.691 7.48606 11.8056 6.99995 11.9583V14.4865C6.99995 14.6344 6.96176 14.7813 6.88537 14.9271C6.80898 15.0729 6.70829 15.1944 6.58329 15.2917L4.18745 17C3.95134 17.1667 3.71176 17.2257 3.4687 17.1771C3.22565 17.1285 3.03467 17.0347 2.89579 16.8958ZM5.49995 12.3542C4.98606 12.6042 4.48954 12.9028 4.01037 13.25C3.5312 13.5972 3.07634 13.9722 2.64579 14.375L3.66662 15.3958L5.49995 14.0833V12.3542ZM14.5 12.3542V14.0833L16.3333 15.3958L17.3541 14.375C16.9236 13.9583 16.4722 13.5799 16 13.2396C15.5277 12.8993 15.0277 12.6042 14.5 12.3542ZM9.24995 6V2H10.75V6H9.24995ZM14.4375 8.22917L13.375 7.16667L16.2083 4.33333L17.2708 5.39583L14.4375 8.22917ZM5.56245 8.22917L2.72912 5.39583L3.79162 4.33333L6.62495 7.16667L5.56245 8.22917Z"
                fill="white" />
            </g>
          </svg>
          <h3>+998 71 200 30 05</h3>
        </div><a class="button other" href="tel:+998712003005">callback</a>
      </div>
    </section>
    {{> en/footer}}
  </div>