  <div class="wrapper">
    {{> uz/nav}}
    {{!-- <header class="header">
      <div class="container">
        <div class="header-top">
          <div class="header__lang"> <a class="header__lang-item ru" href="#">RU </a><a
              class="header__lang-item uz active" href="#">UZ</a><a class="header__lang-item en" href="#">EN</a></div><a
            class="header-address" href="https://maps.app.goo.gl/Qh8VSzPJHvmbTETdA">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <mask id="mask0_102_895" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                height="20">
                <rect width="20" height="20" fill="#D9D9D9" />
              </mask>
              <g mask="url(#mask0_102_895)">
                <path
                  d="M10.0044 10C10.4181 10 10.7708 9.85271 11.0625 9.55813C11.3542 9.26354 11.5 8.90937 11.5 8.49562C11.5 8.08187 11.3527 7.72917 11.0581 7.4375C10.7635 7.14583 10.4094 7 9.99563 7C9.58188 7 9.22917 7.14729 8.9375 7.44188C8.64583 7.73646 8.5 8.09063 8.5 8.50438C8.5 8.91813 8.64729 9.27083 8.94187 9.5625C9.23646 9.85417 9.59062 10 10.0044 10ZM10 16.0208C11.6528 14.5347 12.8993 13.1667 13.7396 11.9167C14.5799 10.6667 15 9.54861 15 8.5625C15 7.10417 14.5243 5.89583 13.5729 4.9375C12.6215 3.97917 11.4306 3.5 10 3.5C8.56944 3.5 7.37847 3.97917 6.42708 4.9375C5.47569 5.89583 5 7.10417 5 8.5625C5 9.54861 5.42014 10.6667 6.26042 11.9167C7.10069 13.1667 8.34722 14.5347 10 16.0208ZM10 18C7.81986 16.179 6.19146 14.4877 5.11479 12.926C4.03826 11.3642 3.5 9.90972 3.5 8.5625C3.5 6.70139 4.11806 5.14236 5.35417 3.88542C6.59028 2.62847 8.13542 2 9.98958 2C11.8438 2 13.3924 2.62847 14.6354 3.88542C15.8785 5.14236 16.5 6.70139 16.5 8.5625C16.5 9.90972 15.9653 11.3611 14.8958 12.9167C13.8264 14.4722 12.1944 16.1667 10 18Z"
                  fill="currentColor" />
              </g>
            </svg>
            <h3>Toshkent sh., Parkent kosh. 327</h3>
          </a><a class="header-phone" href="tel:+998712003005">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <mask id="mask0_102_903" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                height="20">
                <rect width="20" height="20" fill="#D9D9D9" />
              </mask>
              <g mask="url(#mask0_102_903)">
                <path
                  d="M2.89579 16.8958L1.24995 15.2292C1.05551 15.0347 0.954813 14.8021 0.947869 14.5312C0.940925 14.2604 1.03467 14.0278 1.22912 13.8333C2.32634 12.6528 3.62495 11.7188 5.12495 11.0312C6.62495 10.3438 8.24995 10 9.99995 10C11.75 10 13.375 10.3438 14.875 11.0312C16.375 11.7188 17.6736 12.6528 18.7708 13.8333C18.9652 14.0278 19.059 14.2604 19.052 14.5312C19.0451 14.8021 18.9444 15.0347 18.75 15.2292L17.1041 16.8958C16.9513 17.0486 16.7569 17.1458 16.5208 17.1875C16.2847 17.2292 16.0486 17.1667 15.8125 17L13.4166 15.2917C13.2916 15.1944 13.1909 15.0729 13.1145 14.9271C13.0381 14.7813 13 14.6344 13 14.4865V11.9583C12.5138 11.8056 12.0226 11.691 11.5262 11.6146C11.0298 11.5382 10.5211 11.5 9.99995 11.5C9.47884 11.5 8.97009 11.5382 8.4737 11.6146C7.97731 11.691 7.48606 11.8056 6.99995 11.9583V14.4865C6.99995 14.6344 6.96176 14.7813 6.88537 14.9271C6.80898 15.0729 6.70829 15.1944 6.58329 15.2917L4.18745 17C3.95134 17.1667 3.71176 17.2257 3.4687 17.1771C3.22565 17.1285 3.03467 17.0347 2.89579 16.8958ZM5.49995 12.3542C4.98606 12.6042 4.48954 12.9028 4.01037 13.25C3.5312 13.5972 3.07634 13.9722 2.64579 14.375L3.66662 15.3958L5.49995 14.0833V12.3542ZM14.5 12.3542V14.0833L16.3333 15.3958L17.3541 14.375C16.9236 13.9583 16.4722 13.5799 16 13.2396C15.5277 12.8993 15.0277 12.6042 14.5 12.3542ZM9.24995 6V2H10.75V6H9.24995ZM14.4375 8.22917L13.375 7.16667L16.2083 4.33333L17.2708 5.39583L14.4375 8.22917ZM5.56245 8.22917L2.72912 5.39583L3.79162 4.33333L6.62495 7.16667L5.56245 8.22917Z"
                  fill="currentColor" />
              </g>
            </svg>
            <h3>+998 71 200 30 05</h3>
          </a>
          <div class="header-right"> <a class="header-search" href="/search/uz">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_102_908" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                  height="20">
                  <rect width="20" height="20" fill="" />
                </mask>
                <g mask="url(#mask0_102_908)">
                  <path
                    d="M15.9375 17L10.9583 12.0208C10.5417 12.3264 10.0848 12.566 9.58771 12.7396C9.09063 12.9132 8.5616 13 8.00063 13C6.61132 13 5.43056 12.5139 4.45833 11.5417C3.48611 10.5694 3 9.38889 3 8C3 6.61111 3.48611 5.43056 4.45833 4.45833C5.43056 3.48611 6.61111 3 8 3C9.38889 3 10.5694 3.48611 11.5417 4.45833C12.5139 5.43056 13 6.61132 13 8.00063C13 8.5616 12.9132 9.09063 12.7396 9.58771C12.566 10.0848 12.3264 10.5417 12.0208 10.9583L17 15.9375L15.9375 17ZM8 11.5C8.97222 11.5 9.79861 11.1597 10.4792 10.4792C11.1597 9.79861 11.5 8.97222 11.5 8C11.5 7.02778 11.1597 6.20139 10.4792 5.52083C9.79861 4.84028 8.97222 4.5 8 4.5C7.02778 4.5 6.20139 4.84028 5.52083 5.52083C4.84028 6.20139 4.5 7.02778 4.5 8C4.5 8.97222 4.84028 9.79861 5.52083 10.4792C6.20139 11.1597 7.02778 11.5 8 11.5Z"
                    fill="currentColor" />
                </g>
              </svg></a>
            <ul class="header__social">
              <li class="header__social-item"><a href="#">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_102_885)">
                      <path
                        d="M10 0C15.5225 0 20 4.4775 20 10C20 15.5225 15.5225 20 10 20C4.4775 20 0 15.5225 0 10C0 4.4775 4.4775 0 10 0ZM14.9483 6.42556C15.2133 4.83481 14.6818 4.69732 12.9498 5.41548C12.2893 5.68994 7.50599 7.67256 3.80941 9.29873C2.88765 9.70435 2.66236 10.1264 3.61163 10.4521C3.85806 10.5367 4.49108 10.7589 5.13944 10.945C5.99721 11.1914 6.47528 11.0365 6.97292 10.6986C7.00853 10.6744 7.07055 10.6327 7.1552 10.5761L7.29868 10.4803C7.80379 10.1432 8.77707 9.49639 9.815 8.80737L10.1445 8.5887C10.2547 8.51554 10.3651 8.44223 10.4754 8.36908L10.8049 8.1504C11.1329 7.93281 11.4546 7.71942 11.7573 7.51866C11.9667 7.37958 12.1947 7.66462 12.0133 7.83808C11.7969 8.04449 11.5709 8.2601 11.3425 8.478L11.0679 8.74013C9.92269 9.83328 8.79147 10.9148 8.57952 11.1222C7.89912 11.7879 8.31062 12.1611 8.72017 12.4574L8.81786 12.5272L8.86563 12.5611C8.90586 12.5899 8.95819 12.6265 9.02056 12.6696L9.2358 12.8169C10.0402 13.3639 11.6456 14.4256 12.0127 14.668C12.9287 15.2725 13.5115 15.107 13.7711 13.7098C14.209 11.3538 14.7579 7.5689 14.9483 6.42556Z"
                        fill="currentColor" />
                    </g>
                    <defs>
                      <clipPath id="clip0_102_885">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg></a></li>
              <li class="header__social-item"><a href="#">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_102_890)">
                      <path
                        d="M10 0C4.4775 0 0 4.50057 0 10.0515C0 15.0907 3.69333 19.252 8.505 19.9791V12.7152H6.03083V10.0733H8.505V8.31511C8.505 5.40436 9.91583 4.12698 12.3225 4.12698C13.475 4.12698 14.085 4.21326 14.3733 4.25179V6.55778H12.7317C11.71 6.55778 11.3533 7.53193 11.3533 8.62922V10.0733H14.3475L13.9417 12.7152H11.3533V20C16.2342 19.3349 20 15.1401 20 10.0515C20 4.50057 15.5225 0 10 0Z"
                        fill="currentColor" />
                    </g>
                    <defs>
                      <clipPath id="clip0_102_890">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg> </a></li>
              <li class="header__social-item"><a href="#">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_102_892)">
                      <path
                        d="M6.05269 0C2.71532 0 6.10352e-05 2.71526 6.10352e-05 6.05263V13.9474C6.10352e-05 17.2847 2.71532 20 6.05269 20H13.9474C17.2848 20 20.0001 17.2847 20.0001 13.9474V6.05263C20.0001 2.71526 17.2848 0 13.9474 0H6.05269ZM15.2632 3.68421C15.8448 3.68421 16.3159 4.15526 16.3159 4.73684C16.3159 5.31789 15.8448 5.78947 15.2632 5.78947C14.6816 5.78947 14.2106 5.31789 14.2106 4.73684C14.2106 4.15526 14.6816 3.68421 15.2632 3.68421ZM10.0001 4.73684C12.9022 4.73684 15.2632 7.0979 15.2632 10C15.2632 12.9021 12.9022 15.2632 10.0001 15.2632C7.09796 15.2632 4.7369 12.9021 4.7369 10C4.7369 7.0979 7.09796 4.73684 10.0001 4.73684ZM10.0001 6.31579C9.51624 6.31579 9.03716 6.41108 8.59018 6.59623C8.14319 6.78138 7.73704 7.05276 7.39493 7.39487C7.05282 7.73698 6.78144 8.14313 6.59629 8.59011C6.41115 9.0371 6.31585 9.51618 6.31585 10C6.31585 10.4838 6.41115 10.9629 6.59629 11.4099C6.78144 11.8569 7.05282 12.263 7.39493 12.6051C7.73704 12.9472 8.14319 13.2186 8.59018 13.4038C9.03716 13.5889 9.51624 13.6842 10.0001 13.6842C10.4839 13.6842 10.963 13.5889 11.4099 13.4038C11.8569 13.2186 12.2631 12.9472 12.6052 12.6051C12.9473 12.263 13.2187 11.8569 13.4038 11.4099C13.589 10.9629 13.6843 10.4838 13.6843 10C13.6843 9.51618 13.589 9.0371 13.4038 8.59011C13.2187 8.14313 12.9473 7.73698 12.6052 7.39487C12.2631 7.05276 11.8569 6.78138 11.4099 6.59623C10.963 6.41108 10.4839 6.31579 10.0001 6.31579Z"
                        fill="currentColor" />
                    </g>
                    <defs>
                      <clipPath id="clip0_102_892">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg></a></li>
            </ul>
          </div>
        </div>
        <div class="header-main">
          <div class="header__logo"> <a class="header__logo-link" href="/uz"><img src="/img/logo_mali.svg"
                alt="alt"></a>
            <h3>Muzlatilgan mahsulotlar ishlab chiqarish</h3>
          </div>
          <nav class="nav">
            <ul class="nav__list">
              <li class="nav__list-item"> <a class="nav__list-link" href="/about/uz">kompaniya haqida</a></li>
              <li class="nav__list-item"> <a class="nav__list-link" href="/catalog/uz">mahsulotlar</a></li>
              <li class="nav__list-item"> <a class="nav__list-link" href="/contact/uz">kontaktlar</a></li>
            </ul>
          </nav><a class="button" href="#program">hamkor bo'lish </a>
        </div>
        <div class="header__mobile">
          <div class="header__mobile-top"> <a class="header__mobile-logo" href="/index/uz"> <img
                src="/img/logo_mali.svg" alt="alt"></a>
            <div class="header__mobile-list"> <a class="header__mobile-link" href="#">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <mask id="mask0_102_895" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                    height="20">
                    <rect width="20" height="20" fill="#D9D9D9" />
                  </mask>
                  <g mask="url(#mask0_102_895)">
                    <path
                      d="M10.0044 10C10.4181 10 10.7708 9.85271 11.0625 9.55813C11.3542 9.26354 11.5 8.90937 11.5 8.49562C11.5 8.08187 11.3527 7.72917 11.0581 7.4375C10.7635 7.14583 10.4094 7 9.99563 7C9.58188 7 9.22917 7.14729 8.9375 7.44188C8.64583 7.73646 8.5 8.09063 8.5 8.50438C8.5 8.91813 8.64729 9.27083 8.94187 9.5625C9.23646 9.85417 9.59062 10 10.0044 10ZM10 16.0208C11.6528 14.5347 12.8993 13.1667 13.7396 11.9167C14.5799 10.6667 15 9.54861 15 8.5625C15 7.10417 14.5243 5.89583 13.5729 4.9375C12.6215 3.97917 11.4306 3.5 10 3.5C8.56944 3.5 7.37847 3.97917 6.42708 4.9375C5.47569 5.89583 5 7.10417 5 8.5625C5 9.54861 5.42014 10.6667 6.26042 11.9167C7.10069 13.1667 8.34722 14.5347 10 16.0208ZM10 18C7.81986 16.179 6.19146 14.4877 5.11479 12.926C4.03826 11.3642 3.5 9.90972 3.5 8.5625C3.5 6.70139 4.11806 5.14236 5.35417 3.88542C6.59028 2.62847 8.13542 2 9.98958 2C11.8438 2 13.3924 2.62847 14.6354 3.88542C15.8785 5.14236 16.5 6.70139 16.5 8.5625C16.5 9.90972 15.9653 11.3611 14.8958 12.9167C13.8264 14.4722 12.1944 16.1667 10 18Z"
                      fill="currentColor" />
                  </g>
                </svg></a><a class="header__mobile-link" href="#">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <mask id="mask0_102_903" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                    height="20">
                    <rect width="20" height="20" fill="#D9D9D9" />
                  </mask>
                  <g mask="url(#mask0_102_903)">
                    <path
                      d="M2.89579 16.8958L1.24995 15.2292C1.05551 15.0347 0.954813 14.8021 0.947869 14.5312C0.940925 14.2604 1.03467 14.0278 1.22912 13.8333C2.32634 12.6528 3.62495 11.7188 5.12495 11.0312C6.62495 10.3438 8.24995 10 9.99995 10C11.75 10 13.375 10.3438 14.875 11.0312C16.375 11.7188 17.6736 12.6528 18.7708 13.8333C18.9652 14.0278 19.059 14.2604 19.052 14.5312C19.0451 14.8021 18.9444 15.0347 18.75 15.2292L17.1041 16.8958C16.9513 17.0486 16.7569 17.1458 16.5208 17.1875C16.2847 17.2292 16.0486 17.1667 15.8125 17L13.4166 15.2917C13.2916 15.1944 13.1909 15.0729 13.1145 14.9271C13.0381 14.7813 13 14.6344 13 14.4865V11.9583C12.5138 11.8056 12.0226 11.691 11.5262 11.6146C11.0298 11.5382 10.5211 11.5 9.99995 11.5C9.47884 11.5 8.97009 11.5382 8.4737 11.6146C7.97731 11.691 7.48606 11.8056 6.99995 11.9583V14.4865C6.99995 14.6344 6.96176 14.7813 6.88537 14.9271C6.80898 15.0729 6.70829 15.1944 6.58329 15.2917L4.18745 17C3.95134 17.1667 3.71176 17.2257 3.4687 17.1771C3.22565 17.1285 3.03467 17.0347 2.89579 16.8958ZM5.49995 12.3542C4.98606 12.6042 4.48954 12.9028 4.01037 13.25C3.5312 13.5972 3.07634 13.9722 2.64579 14.375L3.66662 15.3958L5.49995 14.0833V12.3542ZM14.5 12.3542V14.0833L16.3333 15.3958L17.3541 14.375C16.9236 13.9583 16.4722 13.5799 16 13.2396C15.5277 12.8993 15.0277 12.6042 14.5 12.3542ZM9.24995 6V2H10.75V6H9.24995ZM14.4375 8.22917L13.375 7.16667L16.2083 4.33333L17.2708 5.39583L14.4375 8.22917ZM5.56245 8.22917L2.72912 5.39583L3.79162 4.33333L6.62495 7.16667L5.56245 8.22917Z"
                      fill="currentColor" />
                  </g>
                </svg></a></div>
            <button class="header__mobile-burger" type="button"><svg width="40" height="40" viewBox="0 0 40 40"
                fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_59_7145" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="40"
                  height="40">
                  <rect width="40" height="40" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_59_7145)">
                  <path d="M5 30V27.2221H35V30H5ZM5 21.3888V18.6112H35V21.3888H5ZM5 12.7779V10H35V12.7779H5Z"
                    fill="black" />
                </g>
              </svg>
            </button>
          </div><a class="header__mobile-btn button" href="#">hamkor bo'lish </a>
        </div>
        <div class="header__bar">
          <div class="header__bar-inner">
            <div class="header__bar-exit">
              <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_59_10516" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="40"
                  height="40">
                  <rect width="40" height="40" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_59_10516)">
                  <path
                    d="M10.472 31.4721L8.52783 29.5279L18.0553 20L8.52783 10.4721L10.472 8.52792L19.9999 18.0554L29.5278 8.52792L31.472 10.4721L21.9445 20L31.472 29.5279L29.5278 31.4721L19.9999 21.9446L10.472 31.4721Z"
                    fill="black" />
                </g>
              </svg>
            </div>
            <div class="header__logo"> <a class="header__logo-link" href="/index/uz"><img src="/img/logo_mali.svg"
                  alt="alt"></a>
              <h3>Muzlatilgan mahsulotlar ishlab chiqarish</h3>
            </div>
            <div class="header__lang"> <a class="header__lang-item ru" href="#">RU </a><a
                class="header__lang-item uz active" href="#">UZ</a><a class="header__lang-item en" href="#">EN</a></div>
            <div class="header__search">
              <input type="text" id="search" placeholder="Начните вводить"><a href="/search.html">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <mask id="mask0_159_1118" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                    height="20">
                    <rect width="20" height="20" fill="#D9D9D9" />
                  </mask>
                  <g mask="url(#mask0_159_1118)">
                    <path
                      d="M15.9375 17L10.9583 12.0208C10.5417 12.3264 10.0848 12.566 9.58771 12.7396C9.09063 12.9132 8.5616 13 8.00063 13C6.61132 13 5.43056 12.5139 4.45833 11.5417C3.48611 10.5694 3 9.38889 3 8C3 6.61111 3.48611 5.43056 4.45833 4.45833C5.43056 3.48611 6.61111 3 8 3C9.38889 3 10.5694 3.48611 11.5417 4.45833C12.5139 5.43056 13 6.61132 13 8.00063C13 8.5616 12.9132 9.09063 12.7396 9.58771C12.566 10.0848 12.3264 10.5417 12.0208 10.9583L17 15.9375L15.9375 17ZM8 11.5C8.97222 11.5 9.79861 11.1597 10.4792 10.4792C11.1597 9.79861 11.5 8.97222 11.5 8C11.5 7.02778 11.1597 6.20139 10.4792 5.52083C9.79861 4.84028 8.97222 4.5 8 4.5C7.02778 4.5 6.20139 4.84028 5.52083 5.52083C4.84028 6.20139 4.5 7.02778 4.5 8C4.5 8.97222 4.84028 9.79861 5.52083 10.4792C6.20139 11.1597 7.02778 11.5 8 11.5Z"
                      fill="black" />
                  </g>
                </svg></a>
            </div>
            <nav class="nav">
              <ul class="nav__list">
                <li class="nav__list-item"> <a class="nav__list-link" href="/about/uz">kompaniya haqida</a></li>
                <li class="nav__list-item"> <a class="nav__list-link" href="/catalog/uz">mahsulotlar</a></li>
                <li class="nav__list-item"> <a class="nav__list-link" href="/contact/uz">kontaktlar</a></li>
              </ul>
            </nav><a class="header-address" href="https://maps.app.goo.gl/Qh8VSzPJHvmbTETdA">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_102_895" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                  height="20">
                  <rect width="20" height="20" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_102_895)">
                  <path
                    d="M10.0044 10C10.4181 10 10.7708 9.85271 11.0625 9.55813C11.3542 9.26354 11.5 8.90937 11.5 8.49562C11.5 8.08187 11.3527 7.72917 11.0581 7.4375C10.7635 7.14583 10.4094 7 9.99563 7C9.58188 7 9.22917 7.14729 8.9375 7.44188C8.64583 7.73646 8.5 8.09063 8.5 8.50438C8.5 8.91813 8.64729 9.27083 8.94187 9.5625C9.23646 9.85417 9.59062 10 10.0044 10ZM10 16.0208C11.6528 14.5347 12.8993 13.1667 13.7396 11.9167C14.5799 10.6667 15 9.54861 15 8.5625C15 7.10417 14.5243 5.89583 13.5729 4.9375C12.6215 3.97917 11.4306 3.5 10 3.5C8.56944 3.5 7.37847 3.97917 6.42708 4.9375C5.47569 5.89583 5 7.10417 5 8.5625C5 9.54861 5.42014 10.6667 6.26042 11.9167C7.10069 13.1667 8.34722 14.5347 10 16.0208ZM10 18C7.81986 16.179 6.19146 14.4877 5.11479 12.926C4.03826 11.3642 3.5 9.90972 3.5 8.5625C3.5 6.70139 4.11806 5.14236 5.35417 3.88542C6.59028 2.62847 8.13542 2 9.98958 2C11.8438 2 13.3924 2.62847 14.6354 3.88542C15.8785 5.14236 16.5 6.70139 16.5 8.5625C16.5 9.90972 15.9653 11.3611 14.8958 12.9167C13.8264 14.4722 12.1944 16.1667 10 18Z"
                    fill="currentColor" />
                </g>
              </svg>
              <h3>Toshkent sh., Parkent koch. 327</h3>
            </a><a class="header-phone" href="tel:+998712003005">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_102_903" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                  height="20">
                  <rect width="20" height="20" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_102_903)">
                  <path
                    d="M2.89579 16.8958L1.24995 15.2292C1.05551 15.0347 0.954813 14.8021 0.947869 14.5312C0.940925 14.2604 1.03467 14.0278 1.22912 13.8333C2.32634 12.6528 3.62495 11.7188 5.12495 11.0312C6.62495 10.3438 8.24995 10 9.99995 10C11.75 10 13.375 10.3438 14.875 11.0312C16.375 11.7188 17.6736 12.6528 18.7708 13.8333C18.9652 14.0278 19.059 14.2604 19.052 14.5312C19.0451 14.8021 18.9444 15.0347 18.75 15.2292L17.1041 16.8958C16.9513 17.0486 16.7569 17.1458 16.5208 17.1875C16.2847 17.2292 16.0486 17.1667 15.8125 17L13.4166 15.2917C13.2916 15.1944 13.1909 15.0729 13.1145 14.9271C13.0381 14.7813 13 14.6344 13 14.4865V11.9583C12.5138 11.8056 12.0226 11.691 11.5262 11.6146C11.0298 11.5382 10.5211 11.5 9.99995 11.5C9.47884 11.5 8.97009 11.5382 8.4737 11.6146C7.97731 11.691 7.48606 11.8056 6.99995 11.9583V14.4865C6.99995 14.6344 6.96176 14.7813 6.88537 14.9271C6.80898 15.0729 6.70829 15.1944 6.58329 15.2917L4.18745 17C3.95134 17.1667 3.71176 17.2257 3.4687 17.1771C3.22565 17.1285 3.03467 17.0347 2.89579 16.8958ZM5.49995 12.3542C4.98606 12.6042 4.48954 12.9028 4.01037 13.25C3.5312 13.5972 3.07634 13.9722 2.64579 14.375L3.66662 15.3958L5.49995 14.0833V12.3542ZM14.5 12.3542V14.0833L16.3333 15.3958L17.3541 14.375C16.9236 13.9583 16.4722 13.5799 16 13.2396C15.5277 12.8993 15.0277 12.6042 14.5 12.3542ZM9.24995 6V2H10.75V6H9.24995ZM14.4375 8.22917L13.375 7.16667L16.2083 4.33333L17.2708 5.39583L14.4375 8.22917ZM5.56245 8.22917L2.72912 5.39583L3.79162 4.33333L6.62495 7.16667L5.56245 8.22917Z"
                    fill="currentColor" />
                </g>
              </svg>
              <h3>+998 71 200 30 05</h3>
            </a><a class="header-email" href="mailto:offer@mali.uz">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_59_10593" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                  height="20">
                  <rect width="20" height="20" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_59_10593)">
                  <path
                    d="M10.75 1.41666L17.25 5.14583C17.4861 5.28472 17.6701 5.46527 17.8021 5.6875C17.934 5.90972 18 6.15972 18 6.4375V15.5C18 15.9125 17.8531 16.2656 17.5594 16.5594C17.2656 16.8531 16.9125 17 16.5 17H3.5C3.0875 17 2.73438 16.8531 2.44063 16.5594C2.14688 16.2656 2 15.9125 2 15.5V6.4375C2 6.15972 2.06597 5.90972 2.19792 5.6875C2.32986 5.46527 2.51389 5.28472 2.75 5.14583L9.25 1.41666C9.48042 1.27777 9.72896 1.20833 9.99563 1.20833C10.2624 1.20833 10.5139 1.27777 10.75 1.41666ZM10 10.2292L16.5 6.5L10 2.77083L3.5 6.5L10 10.2292Z"
                    fill="currentColor" />
                </g>
              </svg>
              <h3>offer@mali.uz</h3>
            </a>
            <ul class="header__social">
              <li class="header__social-item"><a href="#">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_102_885)">
                      <path
                        d="M10 0C15.5225 0 20 4.4775 20 10C20 15.5225 15.5225 20 10 20C4.4775 20 0 15.5225 0 10C0 4.4775 4.4775 0 10 0ZM14.9483 6.42556C15.2133 4.83481 14.6818 4.69732 12.9498 5.41548C12.2893 5.68994 7.50599 7.67256 3.80941 9.29873C2.88765 9.70435 2.66236 10.1264 3.61163 10.4521C3.85806 10.5367 4.49108 10.7589 5.13944 10.945C5.99721 11.1914 6.47528 11.0365 6.97292 10.6986C7.00853 10.6744 7.07055 10.6327 7.1552 10.5761L7.29868 10.4803C7.80379 10.1432 8.77707 9.49639 9.815 8.80737L10.1445 8.5887C10.2547 8.51554 10.3651 8.44223 10.4754 8.36908L10.8049 8.1504C11.1329 7.93281 11.4546 7.71942 11.7573 7.51866C11.9667 7.37958 12.1947 7.66462 12.0133 7.83808C11.7969 8.04449 11.5709 8.2601 11.3425 8.478L11.0679 8.74013C9.92269 9.83328 8.79147 10.9148 8.57952 11.1222C7.89912 11.7879 8.31062 12.1611 8.72017 12.4574L8.81786 12.5272L8.86563 12.5611C8.90586 12.5899 8.95819 12.6265 9.02056 12.6696L9.2358 12.8169C10.0402 13.3639 11.6456 14.4256 12.0127 14.668C12.9287 15.2725 13.5115 15.107 13.7711 13.7098C14.209 11.3538 14.7579 7.5689 14.9483 6.42556Z"
                        fill="currentColor" />
                    </g>
                    <defs>
                      <clipPath id="clip0_102_885">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg></a></li>
              <li class="header__social-item"><a href="#">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_102_890)">
                      <path
                        d="M10 0C4.4775 0 0 4.50057 0 10.0515C0 15.0907 3.69333 19.252 8.505 19.9791V12.7152H6.03083V10.0733H8.505V8.31511C8.505 5.40436 9.91583 4.12698 12.3225 4.12698C13.475 4.12698 14.085 4.21326 14.3733 4.25179V6.55778H12.7317C11.71 6.55778 11.3533 7.53193 11.3533 8.62922V10.0733H14.3475L13.9417 12.7152H11.3533V20C16.2342 19.3349 20 15.1401 20 10.0515C20 4.50057 15.5225 0 10 0Z"
                        fill="currentColor" />
                    </g>
                    <defs>
                      <clipPath id="clip0_102_890">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg> </a></li>
              <li class="header__social-item"><a href="#">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_102_892)">
                      <path
                        d="M6.05269 0C2.71532 0 6.10352e-05 2.71526 6.10352e-05 6.05263V13.9474C6.10352e-05 17.2847 2.71532 20 6.05269 20H13.9474C17.2848 20 20.0001 17.2847 20.0001 13.9474V6.05263C20.0001 2.71526 17.2848 0 13.9474 0H6.05269ZM15.2632 3.68421C15.8448 3.68421 16.3159 4.15526 16.3159 4.73684C16.3159 5.31789 15.8448 5.78947 15.2632 5.78947C14.6816 5.78947 14.2106 5.31789 14.2106 4.73684C14.2106 4.15526 14.6816 3.68421 15.2632 3.68421ZM10.0001 4.73684C12.9022 4.73684 15.2632 7.0979 15.2632 10C15.2632 12.9021 12.9022 15.2632 10.0001 15.2632C7.09796 15.2632 4.7369 12.9021 4.7369 10C4.7369 7.0979 7.09796 4.73684 10.0001 4.73684ZM10.0001 6.31579C9.51624 6.31579 9.03716 6.41108 8.59018 6.59623C8.14319 6.78138 7.73704 7.05276 7.39493 7.39487C7.05282 7.73698 6.78144 8.14313 6.59629 8.59011C6.41115 9.0371 6.31585 9.51618 6.31585 10C6.31585 10.4838 6.41115 10.9629 6.59629 11.4099C6.78144 11.8569 7.05282 12.263 7.39493 12.6051C7.73704 12.9472 8.14319 13.2186 8.59018 13.4038C9.03716 13.5889 9.51624 13.6842 10.0001 13.6842C10.4839 13.6842 10.963 13.5889 11.4099 13.4038C11.8569 13.2186 12.2631 12.9472 12.6052 12.6051C12.9473 12.263 13.2187 11.8569 13.4038 11.4099C13.589 10.9629 13.6843 10.4838 13.6843 10C13.6843 9.51618 13.589 9.0371 13.4038 8.59011C13.2187 8.14313 12.9473 7.73698 12.6052 7.39487C12.2631 7.05276 11.8569 6.78138 11.4099 6.59623C10.963 6.41108 10.4839 6.31579 10.0001 6.31579Z"
                        fill="currentColor" />
                    </g>
                    <defs>
                      <clipPath id="clip0_102_892">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg></a></li>
            </ul><a class="button header__bar-btn" href="#program">hamkor bo'lish </a>
          </div>
        </div>
      </div>
    </header> --}}
    <section class="about">
      <div class="container">
        <div class="about__header">
          <h2 class="about-title">Bizning kompaniya</h2>
          <div class="about__header-btns"> <a class="conctact__header-btn button-mini first" href="/files/mali_calalog.pdf">
              <h3>Katalog</h3><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_50_1360" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                  height="20">
                  <rect width="20" height="20" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_50_1360)">
                  <path
                    d="M6 14H12V12.5H6V14ZM6 10.75H14V9.25H6V10.75ZM6 7.5H14V6H6V7.5ZM4.5 17C4.0875 17 3.73437 16.8531 3.44062 16.5594C3.14687 16.2656 3 15.9125 3 15.5V4.5C3 4.0875 3.14687 3.73438 3.44062 3.44063C3.73437 3.14688 4.0875 3 4.5 3H15.5C15.9125 3 16.2656 3.14688 16.5594 3.44063C16.8531 3.73438 17 4.0875 17 4.5V15.5C17 15.9125 16.8531 16.2656 16.5594 16.5594C16.2656 16.8531 15.9125 17 15.5 17H4.5ZM4.5 15.5H15.5V4.5H4.5V15.5Z"
                    fill="#E80029" />
                </g>
              </svg>
            </a>
            {{!-- <button class="conctact__header-btn button-mini" type="button">
              <h3>Narxlar ro'yxati</h3><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_50_1360" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                  height="20">
                  <rect width="20" height="20" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_50_1360)">
                  <path
                    d="M6 14H12V12.5H6V14ZM6 10.75H14V9.25H6V10.75ZM6 7.5H14V6H6V7.5ZM4.5 17C4.0875 17 3.73437 16.8531 3.44062 16.5594C3.14687 16.2656 3 15.9125 3 15.5V4.5C3 4.0875 3.14687 3.73438 3.44062 3.44063C3.73437 3.14688 4.0875 3 4.5 3H15.5C15.9125 3 16.2656 3.14688 16.5594 3.44063C16.8531 3.73438 17 4.0875 17 4.5V15.5C17 15.9125 16.8531 16.2656 16.5594 16.5594C16.2656 16.8531 15.9125 17 15.5 17H4.5ZM4.5 15.5H15.5V4.5H4.5V15.5Z"
                    fill="#E80029" />
                </g>
              </svg>
            </button>
            <button class="conctact__header-btn button-mini" type="button">
              <h3>Taqdimot</h3><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_50_1360" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                  height="20">
                  <rect width="20" height="20" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_50_1360)">
                  <path
                    d="M6 14H12V12.5H6V14ZM6 10.75H14V9.25H6V10.75ZM6 7.5H14V6H6V7.5ZM4.5 17C4.0875 17 3.73437 16.8531 3.44062 16.5594C3.14687 16.2656 3 15.9125 3 15.5V4.5C3 4.0875 3.14687 3.73438 3.44062 3.44063C3.73437 3.14688 4.0875 3 4.5 3H15.5C15.9125 3 16.2656 3.14688 16.5594 3.44063C16.8531 3.73438 17 4.0875 17 4.5V15.5C17 15.9125 16.8531 16.2656 16.5594 16.5594C16.2656 16.8531 15.9125 17 15.5 17H4.5ZM4.5 15.5H15.5V4.5H4.5V15.5Z"
                    fill="#E80029" />
                </g>
              </svg>
            </button> --}}
          </div>
        </div>
        <div class="about__wrapper">
          <div class="about-text">
            <p>2016-yildan beri Mali kompaniyasi O‘zbekistonda chuqur muzlatilgan yarim tayyor mahsulotlar sanoatida
              yuqori sifat standartlarini o‘rnatmoqda.</p>
            <p>Ishlab chiqarishning har bir bosqichi diqqat bilan nazorat qilinadi, bu mahsulotlarning barcha foydali
              xususiyatlari va tabiiy ta’mini saqlab qolishga imkon beradi, iste'molchilarga sog‘lom va mazali
              taomlardan bahramand bo‘lish imkoniyatini beradi.</p>
          </div>
          <div class="about__video">
            <div class="about__video-top">Barcha Mali mahsulotlari tanlab olingan tabiiy ingredientlardan tayyorlanadi
              <br>, tengsiz sifat va ta'mni ta'minlab.</div>
            <div class="about__video-slider">
              <div class="swiper videoSlider">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"> <img src="/img/about-video.jpg" alt="video">
                    <button class="about__video-btn" type="button"><svg width="60" height="60" viewBox="0 0 60 60"
                        fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="mask0_55_2850" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                          width="60" height="60">
                          <rect width="60" height="60" fill="#D9D9D9" />
                        </mask>
                        <g mask="url(#mask0_55_2850)">
                          <path
                            d="M24 40.5L40.5 30L24 19.5V40.5ZM30.0175 54C26.7142 54 23.6042 53.375 20.6875 52.125C17.7708 50.875 15.2188 49.1562 13.0312 46.9688C10.8438 44.7812 9.125 42.23 7.875 39.315C6.625 36.4 6 33.2854 6 29.9713C6 26.6571 6.625 23.5521 7.875 20.6563C9.125 17.7604 10.8438 15.2188 13.0312 13.0312C15.2188 10.8438 17.77 9.125 20.685 7.875C23.6 6.625 26.7146 6 30.0288 6C33.3429 6 36.4479 6.625 39.3438 7.875C42.2396 9.125 44.7812 10.8438 46.9688 13.0312C49.1562 15.2188 50.875 17.765 52.125 20.67C53.375 23.5754 54 26.6796 54 29.9825C54 33.2858 53.375 36.3958 52.125 39.3125C50.875 42.2292 49.1562 44.7812 46.9688 46.9688C44.7812 49.1562 42.235 50.875 39.33 52.125C36.4246 53.375 33.3204 54 30.0175 54ZM30 49.5C35.4167 49.5 40.0208 47.6042 43.8125 43.8125C47.6042 40.0208 49.5 35.4167 49.5 30C49.5 24.5833 47.6042 19.9792 43.8125 16.1875C40.0208 12.3958 35.4167 10.5 30 10.5C24.5833 10.5 19.9792 12.3958 16.1875 16.1875C12.3958 19.9792 10.5 24.5833 10.5 30C10.5 35.4167 12.3958 40.0208 16.1875 43.8125C19.9792 47.6042 24.5833 49.5 30 49.5Z"
                            fill="white" />
                        </g>
                      </svg>
                    </button>
                  </div>
                  <div class="swiper-slide"> <img src="/img/about-video.jpg" alt="video">
                    <button class="about__video-btn" type="button"><svg width="60" height="60" viewBox="0 0 60 60"
                        fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="mask0_55_2850" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                          width="60" height="60">
                          <rect width="60" height="60" fill="#D9D9D9" />
                        </mask>
                        <g mask="url(#mask0_55_2850)">
                          <path
                            d="M24 40.5L40.5 30L24 19.5V40.5ZM30.0175 54C26.7142 54 23.6042 53.375 20.6875 52.125C17.7708 50.875 15.2188 49.1562 13.0312 46.9688C10.8438 44.7812 9.125 42.23 7.875 39.315C6.625 36.4 6 33.2854 6 29.9713C6 26.6571 6.625 23.5521 7.875 20.6563C9.125 17.7604 10.8438 15.2188 13.0312 13.0312C15.2188 10.8438 17.77 9.125 20.685 7.875C23.6 6.625 26.7146 6 30.0288 6C33.3429 6 36.4479 6.625 39.3438 7.875C42.2396 9.125 44.7812 10.8438 46.9688 13.0312C49.1562 15.2188 50.875 17.765 52.125 20.67C53.375 23.5754 54 26.6796 54 29.9825C54 33.2858 53.375 36.3958 52.125 39.3125C50.875 42.2292 49.1562 44.7812 46.9688 46.9688C44.7812 49.1562 42.235 50.875 39.33 52.125C36.4246 53.375 33.3204 54 30.0175 54ZM30 49.5C35.4167 49.5 40.0208 47.6042 43.8125 43.8125C47.6042 40.0208 49.5 35.4167 49.5 30C49.5 24.5833 47.6042 19.9792 43.8125 16.1875C40.0208 12.3958 35.4167 10.5 30 10.5C24.5833 10.5 19.9792 12.3958 16.1875 16.1875C12.3958 19.9792 10.5 24.5833 10.5 30C10.5 35.4167 12.3958 40.0208 16.1875 43.8125C19.9792 47.6042 24.5833 49.5 30 49.5Z"
                            fill="white" />
                        </g>
                      </svg>
                    </button>
                  </div>
                  <div class="swiper-slide"> <img src="/img/about-video.jpg" alt="video">
                    <button class="about__video-btn" type="button"><svg width="60" height="60" viewBox="0 0 60 60"
                        fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="mask0_55_2850" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                          width="60" height="60">
                          <rect width="60" height="60" fill="#D9D9D9" />
                        </mask>
                        <g mask="url(#mask0_55_2850)">
                          <path
                            d="M24 40.5L40.5 30L24 19.5V40.5ZM30.0175 54C26.7142 54 23.6042 53.375 20.6875 52.125C17.7708 50.875 15.2188 49.1562 13.0312 46.9688C10.8438 44.7812 9.125 42.23 7.875 39.315C6.625 36.4 6 33.2854 6 29.9713C6 26.6571 6.625 23.5521 7.875 20.6563C9.125 17.7604 10.8438 15.2188 13.0312 13.0312C15.2188 10.8438 17.77 9.125 20.685 7.875C23.6 6.625 26.7146 6 30.0288 6C33.3429 6 36.4479 6.625 39.3438 7.875C42.2396 9.125 44.7812 10.8438 46.9688 13.0312C49.1562 15.2188 50.875 17.765 52.125 20.67C53.375 23.5754 54 26.6796 54 29.9825C54 33.2858 53.375 36.3958 52.125 39.3125C50.875 42.2292 49.1562 44.7812 46.9688 46.9688C44.7812 49.1562 42.235 50.875 39.33 52.125C36.4246 53.375 33.3204 54 30.0175 54ZM30 49.5C35.4167 49.5 40.0208 47.6042 43.8125 43.8125C47.6042 40.0208 49.5 35.4167 49.5 30C49.5 24.5833 47.6042 19.9792 43.8125 16.1875C40.0208 12.3958 35.4167 10.5 30 10.5C24.5833 10.5 19.9792 12.3958 16.1875 16.1875C12.3958 19.9792 10.5 24.5833 10.5 30C10.5 35.4167 12.3958 40.0208 16.1875 43.8125C19.9792 47.6042 24.5833 49.5 30 49.5Z"
                            fill="white" />
                        </g>
                      </svg>
                    </button>
                  </div>
                </div>
                <div class="swiper-pagination videoPagination"></div>
              </div>
              <div class="about__video-navigation">
                <button class="about__video-prev" type="button"><svg width="30" height="30" viewBox="0 0 30 30"
                    fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="30" height="30" fill="#E80029" />
                    <mask id="mask0_55_2839" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="5" y="5" width="20"
                      height="20">
                      <rect x="5" y="5" width="20" height="20" fill="#D9D9D9" />
                    </mask>
                    <g mask="url(#mask0_55_2839)">
                      <path
                        d="M11.8333 15L17.7083 20.875C17.9028 21.0695 18 21.3056 18 21.5834C18 21.8612 17.9028 22.0973 17.7083 22.2917C17.5139 22.4862 17.2778 22.5834 17 22.5834C16.7222 22.5834 16.4861 22.4862 16.2917 22.2917L10.0625 16.0625C9.90972 15.9098 9.79861 15.7431 9.72917 15.5625C9.65972 15.382 9.625 15.1945 9.625 15C9.625 14.8056 9.65972 14.6181 9.72917 14.4375C9.79861 14.257 9.90972 14.0903 10.0625 13.9375L16.2917 7.70837C16.4861 7.51393 16.7222 7.41671 17 7.41671C17.2778 7.41671 17.5139 7.51393 17.7083 7.70837C17.9028 7.90282 18 8.13893 18 8.41671C18 8.69448 17.9028 8.9306 17.7083 9.12504L11.8333 15Z"
                        fill="white" />
                    </g>
                  </svg>
                </button>
                <button class="about__video-next" type="button"><svg width="30" height="30" viewBox="0 0 30 30"
                    fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="30" height="30" fill="#E80029" />
                    <mask id="mask0_55_2838" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="5" y="5" width="20"
                      height="20">
                      <rect x="5" y="5" width="20" height="20" fill="#D9D9D9" />
                    </mask>
                    <g mask="url(#mask0_55_2838)">
                      <path
                        d="M18.1667 15L12.2917 9.12502C12.0972 8.93058 12 8.69446 12 8.41669C12 8.13891 12.0972 7.9028 12.2917 7.70835C12.4861 7.51391 12.7222 7.41669 13 7.41669C13.2778 7.41669 13.5139 7.51391 13.7083 7.70835L19.9375 13.9375C20.0903 14.0903 20.2014 14.257 20.2708 14.4375C20.3403 14.6181 20.375 14.8056 20.375 15C20.375 15.1945 20.3403 15.382 20.2708 15.5625C20.2014 15.7431 20.0903 15.9097 19.9375 16.0625L13.7083 22.2917C13.5139 22.4861 13.2778 22.5834 13 22.5834C12.7222 22.5834 12.4861 22.4861 12.2917 22.2917C12.0972 22.0972 12 21.8611 12 21.5834C12 21.3056 12.0972 21.0695 12.2917 20.875L18.1667 15Z"
                        fill="white" />
                    </g>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="about__wrapper-images">
            <div class="about__wrapper-img first"> <img src="/img/pelmeni/item3.png" draggable="false" alt="item"></div>
            <div class="about__wrapper-img second"> <img src="/img/pelmeni/item4.png" draggable="false" alt="item"></div>
            <div class="about__wrapper-img third"> <img src="/img/pelmeni/item5.png" draggable="false" alt="item"></div>
            <div class="about__wrapper-img fourth"> <img src="/img/pelmeni/item6.png" draggable="false" alt="item"></div>
            <div class="about__wrapper-img fifth"> <img src="/img/pelmeni/item7.png" draggable="false" alt="item"></div>
            <div class="about__wrapper-img sixth"> <img src="/img/pelmeni/item2.png" draggable="false" alt="item"></div>
            <div class="about__wrapper-img seventh"> <img src="/img/pelmeni/item1.png" draggable="false" alt="item">
            </div>
          </div>
        </div>
        <div class="about__center">
          <div class="about__center-img"><img src="/img/logo_mali.svg" alt="logo"></div>
          <h2 class="about__center-title">Muhabbat bilan har bir inson uchun</h2>
          <p class="about__center-text">Biz uy bekalarini ideal va foydali taomlar yaratishga ilhomlantiramiz, oilaning
            har bir a'zosiga g'amxo'rlik va hurmat ko'rsatishga imkon beruvchi yuqori sifatli yarim tayyor mahsulotlar
            taqdim etamiz.</p>
        </div>
        <div class="about__aim">
          <div class="about__aim-bottom second">
            <div class="about__aim-img first"><img src="/img/aim1.jpg" alt="aim"></div>
          </div>
          <div class="about__aim-top">
            <h3 class="about__aim-title">Bizning maqsadimiz</h3>
            <div class="about__aim-right">
              <p class="about__aim-text">— Sizga qalblarni birlashtiradigan va uyning iliqligini mustahkamlovchi ideal
                taom tayyorlashda yordam berish</p>
              <p class="about__aim-text">— Har bir uyda ajralmas qismga aylanish, kundalik ovqatlanishni o'zgacha va
                sog'lom qilish uchun restoran sifatidagi mahsulotlarni taqdim etish</p>
            </div>
          </div>
          <div class="about__aim-bottom">
            <div class="about__aim-img first"><img src="/img/aim1.jpg" alt="aim"></div>
            <div class="about__aim-img second"><img src="/img/aim2.jpg" alt="aim"></div>
          </div>
        </div>
        <div class="standarts">
          <h2 class="standarts-title">Yuqori standartlar</h2>
          <div class="standarts__header">
            <p class="standarts__header-text">Mali xalqaro sifat standartlariga qat'iy rioya qiladi, bu sertifikatlar
              bilan tasdiqlangan</p>
            <p class="standarts__header-subtext">Ishlab chiqarish jarayonlarining to‘liq ochiqligi har bir mahsulotning
              eng yuqori xavfsizlik va sifat talablarga mos kelishini kafolatlaydi</p>
          </div>
          <ul class="standarts__list">
            <li class="standarts__list-item">
              <div class="standarts__item-img"> <img src="/img/sertificate/item1.png" alt="sertificate"></div>
              <div class="standarts__item-content">
                <div class="standarts__item-type">Sertifikatsiya</div>
                <div class="standarts__item-names">
                  <h3>ISO 9001:2015,</h3>
                  <h3>ISO 22000:2018</h3>
                </div><a class="button-mini standarts__item-btn" href="/files/ISO_9001_2015.pdf">
                  <h3>Ko`rish</h3><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <mask id="mask0_55_3023" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                      height="20">
                      <rect width="20" height="20" fill="#D9D9D9" />
                    </mask>
                    <g mask="url(#mask0_55_3023)">
                      <path
                        d="M6 14H12V12.5H6V14ZM6 10.75H14V9.25H6V10.75ZM6 7.5H14V6H6V7.5ZM4.5 17C4.0875 17 3.73437 16.8531 3.44062 16.5594C3.14687 16.2656 3 15.9125 3 15.5V4.5C3 4.0875 3.14687 3.73438 3.44062 3.44063C3.73437 3.14688 4.0875 3 4.5 3H15.5C15.9125 3 16.2656 3.14688 16.5594 3.44063C16.8531 3.73438 17 4.0875 17 4.5V15.5C17 15.9125 16.8531 16.2656 16.5594 16.5594C16.2656 16.8531 15.9125 17 15.5 17H4.5ZM4.5 15.5H15.5V4.5H4.5V15.5Z"
                        fill="#E80029" />
                    </g>
                  </svg>
                </a>
              </div>
            </li>
            <li class="standarts__list-item">
              <div class="standarts__item-img"> <img src="/img/sertificate/item2.png" alt="sertificate"></div>
              <div class="standarts__item-content">
                <div class="standarts__item-type">Sertifikatsiya</div>
                <div class="standarts__item-names">
                  <h3>ISO 9001:2015,</h3>
                  <h3>ISO 22000:2018</h3>
                </div><a class="button-mini standarts__item-btn" href="/files/ISO_22000_2018.pdf">
                  <h3>Ko`rish</h3><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <mask id="mask0_55_3023" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                      height="20">
                      <rect width="20" height="20" fill="#D9D9D9" />
                    </mask>
                    <g mask="url(#mask0_55_3023)">
                      <path
                        d="M6 14H12V12.5H6V14ZM6 10.75H14V9.25H6V10.75ZM6 7.5H14V6H6V7.5ZM4.5 17C4.0875 17 3.73437 16.8531 3.44062 16.5594C3.14687 16.2656 3 15.9125 3 15.5V4.5C3 4.0875 3.14687 3.73438 3.44062 3.44063C3.73437 3.14688 4.0875 3 4.5 3H15.5C15.9125 3 16.2656 3.14688 16.5594 3.44063C16.8531 3.73438 17 4.0875 17 4.5V15.5C17 15.9125 16.8531 16.2656 16.5594 16.5594C16.2656 16.8531 15.9125 17 15.5 17H4.5ZM4.5 15.5H15.5V4.5H4.5V15.5Z"
                        fill="#E80029" />
                    </g>
                  </svg>
                </a>
              </div>
            </li>
            <li class="standarts__list-item">
              <div class="standarts__item-img"> <img src="/img/sertificate/item3.png" alt="sertificate"></div>
              <div class="standarts__item-content">
                <div class="standarts__item-type">Sertifikatsiya</div>
                <div class="standarts__item-names">
                  <h3>ISO 9001:2015,</h3>
                  <h3>ISO 22000:2018</h3>
                </div><a class="button-mini standarts__item-btn" href="/files/EAT_GOOD_LLC.pdf">
                  <h3>Ko`rish</h3><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <mask id="mask0_55_3023" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                      height="20">
                      <rect width="20" height="20" fill="#D9D9D9" />
                    </mask>
                    <g mask="url(#mask0_55_3023)">
                      <path
                        d="M6 14H12V12.5H6V14ZM6 10.75H14V9.25H6V10.75ZM6 7.5H14V6H6V7.5ZM4.5 17C4.0875 17 3.73437 16.8531 3.44062 16.5594C3.14687 16.2656 3 15.9125 3 15.5V4.5C3 4.0875 3.14687 3.73438 3.44062 3.44063C3.73437 3.14688 4.0875 3 4.5 3H15.5C15.9125 3 16.2656 3.14688 16.5594 3.44063C16.8531 3.73438 17 4.0875 17 4.5V15.5C17 15.9125 16.8531 16.2656 16.5594 16.5594C16.2656 16.8531 15.9125 17 15.5 17H4.5ZM4.5 15.5H15.5V4.5H4.5V15.5Z"
                        fill="#E80029" />
                    </g>
                  </svg>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <section class="program" id="program">
        <div class="program-item third"><img src="/img/pelmeni/item1.png" alt="item" draggable="false"></div>
        <div class="program-item fourth"><img src="/img/pelmeni/item2.png" alt="item" draggable="false"></div>
        <div class="program-wrapper second" >
          <div class="program-left">
            <h3 class="program-title">Hamkorlik dasturi</h3>
            <p class="program-text"> Mali bilan yetakchi chakana savdo tarmoqlari va HoReCa sanoati vakillari faol
              hamkorlik qilmoqda, jumladan:</p>
          </div>
          <div class="program__right" >
            <h3 class="program__right-title">Dasturda ishtirok etish uchun ariza to'ldiring</h3>
            <p class="program__right-text">va maxsus shartlarni, jumladan, maxsus mahsulot liniyalari va marketing
              ko‘magini oling</p>
            <div class="program__right-bottom"><a class="button-other" href="#">
                {{!-- <h3>Prezentatsiya</h3>
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <rect width="30" height="30" fill="currentColor" />
                  <mask id="mask0_102_791" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="5" y="5" width="20"
                    height="20">
                    <rect x="5" y="5" width="20" height="20" fill="#D9D9D9" />
                  </mask>
                  <g mask="url(#mask0_102_791)">
                    <path
                      d="M11 19H17V17.5H11V19ZM11 15.75H19V14.25H11V15.75ZM11 12.5H19V11H11V12.5ZM9.5 22C9.0875 22 8.73437 21.8531 8.44062 21.5594C8.14687 21.2656 8 20.9125 8 20.5V9.5C8 9.0875 8.14687 8.73438 8.44062 8.44063C8.73437 8.14688 9.0875 8 9.5 8H20.5C20.9125 8 21.2656 8.14688 21.5594 8.44063C21.8531 8.73438 22 9.0875 22 9.5V20.5C22 20.9125 21.8531 21.2656 21.5594 21.5594C21.2656 21.8531 20.9125 22 20.5 22H9.5ZM9.5 20.5H20.5V9.5H9.5V20.5Z"
                      fill="white" />
                  </g>
                </svg> --}}
              </a><a class="button" href="#">arizani to'ldirish</a></div>
          </div>
        </div>
      </section>
      <section class="partners">
        <div class="partners-item"><img src="/img/pelmeni/item2.png" alt="item" draggable="false"></div>
        <div class="container">
          <h2 class="partners-title">Bizning hamkorlar</h2>
          <div class="partners__list first">
            <div class="partners__list-item one">Dodo pizza</div>
            <div class="partners__list-item two">Alpha Plaza Hotel & SPA</div>
            <div class="partners__list-item two">Panarams Tashkent Hotel</div>
            <div class="partners__list-item one">The Shahar</div>
            <div class="partners__list-item three">Asia Tashkent Hotel</div>
            <div class="partners__list-item four">Ariston Park | Tashkent</div>
            <div class="partners__list-item four">Crowne Plaza Tashkent</div>
            <div class="partners__list-item five">InterContinental Tashkent - IHG</div>
            <div class="partners__list-item six">Hotel Orient Plaza</div>
            <div class="partners__list-item six">Marriott tashkent hall</div>
            <div class="partners__list-item five">Ichan Qala Premium Class Hotel</div>
            <div class="partners__list-item seven">Korzinka</div>
            <div class="partners__list-item seven">Makro</div>
            <div class="partners__list-item eight">Bi1</div>
            <div class="partners__list-item seven">Baraka</div>
            <div class="partners__list-item nine">Havas</div>
            <div class="partners__list-item ten">Magnum</div>
          </div>
        </div>
        <div class="partners-slider">
          <div class="swiper partnerSwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide"> </div>
              <div class="swiper-slide"> </div>
              <div class="swiper-slide"> </div>
              <div class="swiper-slide"> </div>
              <div class="partners-inner">
                <div class="partners__list">
                  <div class="partners__list-item two">Alpha Plaza Hotel & SPA</div>
                  <div class="partners__list-item four">Dodo pizza</div>
                  <div class="partners__list-item five">Ichan Qala Premium Class Hotel</div>
                  <div class="partners__list-item six">Hotel Orient Plaza</div>
                  <div class="partners__list-item three">Baraka</div>
                  <div class="partners__list-item eight">Bi1</div>
                  <div class="partners__list-item ten">Panarams Tashkent Hotel</div>
                  <div class="partners__list-item one">Korzinka</div>
                  <div class="partners__list-item five">InterContinental Tashkent - IHG</div>
                  <div class="partners__list-item six">Asia Tashkent Hotel</div>
                  <div class="partners__list-item nine">Havas</div>
                  <div class="partners__list-item seven">Makro</div>
                  <div class="partners__list-item two">Crowne Plaza Tashkent</div>
                  <div class="partners__list-item eleven">The Shahar</div>
                  <div class="partners__list-item twelve">Ariston Park | Tashkent</div>
                  <div class="partners__list-item six">Marriott tashkent hall</div>
                  <div class="partners__list-item nine">Magnum</div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination partnerPagination"></div>
          </div>
        </div>
      </section>
      <section class="call">
        <div class="call-wrapper">
          <h3 class="call-title">Savollaringiz bo`lsa qo`ng`iroq qiling</h3>
          <div class="call-item">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <mask id="mask0_55_2076" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                height="20">
                <rect width="20" height="20" fill="#D9D9D9" />
              </mask>
              <g mask="url(#mask0_55_2076)">
                <path
                  d="M2.89579 16.8958L1.24995 15.2292C1.05551 15.0347 0.954813 14.8021 0.947869 14.5312C0.940925 14.2604 1.03467 14.0278 1.22912 13.8333C2.32634 12.6528 3.62495 11.7188 5.12495 11.0312C6.62495 10.3438 8.24995 10 9.99995 10C11.75 10 13.375 10.3438 14.875 11.0312C16.375 11.7188 17.6736 12.6528 18.7708 13.8333C18.9652 14.0278 19.059 14.2604 19.052 14.5312C19.0451 14.8021 18.9444 15.0347 18.75 15.2292L17.1041 16.8958C16.9513 17.0486 16.7569 17.1458 16.5208 17.1875C16.2847 17.2292 16.0486 17.1667 15.8125 17L13.4166 15.2917C13.2916 15.1944 13.1909 15.0729 13.1145 14.9271C13.0381 14.7813 13 14.6344 13 14.4865V11.9583C12.5138 11.8056 12.0226 11.691 11.5262 11.6146C11.0298 11.5382 10.5211 11.5 9.99995 11.5C9.47884 11.5 8.97009 11.5382 8.4737 11.6146C7.97731 11.691 7.48606 11.8056 6.99995 11.9583V14.4865C6.99995 14.6344 6.96176 14.7813 6.88537 14.9271C6.80898 15.0729 6.70829 15.1944 6.58329 15.2917L4.18745 17C3.95134 17.1667 3.71176 17.2257 3.4687 17.1771C3.22565 17.1285 3.03467 17.0347 2.89579 16.8958ZM5.49995 12.3542C4.98606 12.6042 4.48954 12.9028 4.01037 13.25C3.5312 13.5972 3.07634 13.9722 2.64579 14.375L3.66662 15.3958L5.49995 14.0833V12.3542ZM14.5 12.3542V14.0833L16.3333 15.3958L17.3541 14.375C16.9236 13.9583 16.4722 13.5799 16 13.2396C15.5277 12.8993 15.0277 12.6042 14.5 12.3542ZM9.24995 6V2H10.75V6H9.24995ZM14.4375 8.22917L13.375 7.16667L16.2083 4.33333L17.2708 5.39583L14.4375 8.22917ZM5.56245 8.22917L2.72912 5.39583L3.79162 4.33333L6.62495 7.16667L5.56245 8.22917Z"
                  fill="white" />
              </g>
            </svg>
            <h3>+998 71 200 30 05</h3>
          </div><a class="button other" href="tel:+998712003005">qayta qong`iroq</a>
        </div>
      </section>
      {{> uz/footer}}
    </section>
  </div>