  <div class="wrapper">
    {{> en/nav}}
    <div class="contact">
      <div class="container">
        <div class="contact__header">
          <h2 class="contact-title">Contacts</h2>
          <div class="contact__header-btns">
            {{!-- <button class="conctact__header-btn button-mini" type="button">
              <h3>Download price list</h3><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_25_4795" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                  height="20">
                  <rect width="20" height="20" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_25_4795)">
                  <path
                    d="M6 14H12V12.5H6V14ZM6 10.75H14V9.25H6V10.75ZM6 7.5H14V6H6V7.5ZM4.5 17C4.0875 17 3.73437 16.8531 3.44062 16.5594C3.14687 16.2656 3 15.9125 3 15.5V4.5C3 4.0875 3.14687 3.73438 3.44062 3.44063C3.73437 3.14688 4.0875 3 4.5 3H15.5C15.9125 3 16.2656 3.14688 16.5594 3.44063C16.8531 3.73438 17 4.0875 17 4.5V15.5C17 15.9125 16.8531 16.2656 16.5594 16.5594C16.2656 16.8531 15.9125 17 15.5 17H4.5ZM4.5 15.5H15.5V4.5H4.5V15.5Z"
                    fill="currentColor" />
                </g>
              </svg>
            </button> --}}
            {{!-- <button class="conctact__header-btn button-mini" type="button" onclick="shareURL()">
              <h3>Details</h3><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_25_4765" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                  height="20">
                  <rect width="20" height="20" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_25_4765)">
                  <path
                    d="M13.5 18C12.8056 18 12.2153 17.7569 11.7292 17.2708C11.2431 16.7847 11 16.1944 11 15.5C11 15.375 11.0278 15.1736 11.0833 14.8958L6.14583 11.875C5.92361 12.0694 5.67326 12.2222 5.39479 12.3333C5.11646 12.4444 4.81819 12.5 4.5 12.5C3.80556 12.5 3.21528 12.2569 2.72917 11.7708C2.24306 11.2847 2 10.6944 2 10C2 9.30556 2.24306 8.71528 2.72917 8.22917C3.21528 7.74306 3.80556 7.5 4.5 7.5C4.81944 7.5 5.11806 7.55556 5.39583 7.66667C5.67361 7.77778 5.92361 7.93056 6.14583 8.125L11.0833 5.10417C11.0556 5.00694 11.0347 4.91104 11.0208 4.81646C11.0069 4.72188 11 4.61639 11 4.5C11 3.80556 11.2431 3.21528 11.7292 2.72917C12.2153 2.24306 12.8056 2 13.5 2C14.1944 2 14.7847 2.24306 15.2708 2.72917C15.7569 3.21528 16 3.80556 16 4.5C16 5.19444 15.7569 5.78472 15.2708 6.27083C14.7847 6.75694 14.1944 7 13.5 7C13.1806 7 12.8819 6.94444 12.6042 6.83333C12.3264 6.72222 12.0764 6.56944 11.8542 6.375L6.91667 9.39583C6.94444 9.49306 6.96528 9.58896 6.97917 9.68354C6.99306 9.77813 7 9.88361 7 10C7 10.1164 6.99306 10.2219 6.97917 10.3165C6.96528 10.411 6.94444 10.5069 6.91667 10.6042L11.8542 13.625C12.0764 13.4306 12.3267 13.2778 12.6052 13.1667C12.8835 13.0556 13.1818 13 13.5 13C14.1944 13 14.7847 13.2431 15.2708 13.7292C15.7569 14.2153 16 14.8056 16 15.5C16 16.1944 15.7569 16.7847 15.2708 17.2708C14.7847 17.7569 14.1944 18 13.5 18ZM13.5 16.5C13.7833 16.5 14.0208 16.4042 14.2125 16.2125C14.4042 16.0208 14.5 15.7833 14.5 15.5C14.5 15.2167 14.4042 14.9792 14.2125 14.7875C14.0208 14.5958 13.7833 14.5 13.5 14.5C13.2167 14.5 12.9792 14.5958 12.7875 14.7875C12.5958 14.9792 12.5 15.2167 12.5 15.5C12.5 15.7833 12.5958 16.0208 12.7875 16.2125C12.9792 16.4042 13.2167 16.5 13.5 16.5ZM4.5 11C4.78333 11 5.02083 10.9042 5.2125 10.7125C5.40417 10.5208 5.5 10.2833 5.5 10C5.5 9.71667 5.40417 9.47917 5.2125 9.2875C5.02083 9.09583 4.78333 9 4.5 9C4.21667 9 3.97917 9.09583 3.7875 9.2875C3.59583 9.47917 3.5 9.71667 3.5 10C3.5 10.2833 3.59583 10.5208 3.7875 10.7125C3.97917 10.9042 4.21667 11 4.5 11ZM13.5 5.5C13.7833 5.5 14.0208 5.40417 14.2125 5.2125C14.4042 5.02083 14.5 4.78333 14.5 4.5C14.5 4.21667 14.4042 3.97917 14.2125 3.7875C14.0208 3.59583 13.7833 3.5 13.5 3.5C13.2167 3.5 12.9792 3.59583 12.7875 3.7875C12.5958 3.97917 12.5 4.21667 12.5 4.5C12.5 4.78333 12.5958 5.02083 12.7875 5.2125C12.9792 5.40417 13.2167 5.5 13.5 5.5Z"
                    fill="currentColor" />
                </g>
              </svg>
            </button> --}}
          </div>
        </div>
        <div class="contact-content">
          <div class="contact__list">
            <div class="contact__list-left">
              <div class="contact__list-item">
                <h3 class="contact__item-title">Address</h3><a class="button-rev"
                  href="https://maps.app.goo.gl/Qh8VSzPJHvmbTETdA"><svg width="20" height="20" viewBox="0 0 20 20"
                    fill="none" xmlns="http://www.w3.org/2000/svg">
                    <mask id="mask0_25_4803" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                      height="20">
                      <rect width="20" height="20" fill="#D9D9D9" />
                    </mask>
                    <g mask="url(#mask0_25_4803)">
                      <path
                        d="M10.0044 10C10.4181 10 10.7708 9.85271 11.0625 9.55813C11.3542 9.26354 11.5 8.90937 11.5 8.49562C11.5 8.08187 11.3527 7.72917 11.0581 7.4375C10.7635 7.14583 10.4094 7 9.99563 7C9.58188 7 9.22917 7.14729 8.9375 7.44188C8.64583 7.73646 8.5 8.09063 8.5 8.50438C8.5 8.91813 8.64729 9.27083 8.94187 9.5625C9.23646 9.85417 9.59062 10 10.0044 10ZM10 16.0208C11.6528 14.5347 12.8993 13.1667 13.7396 11.9167C14.5799 10.6667 15 9.54861 15 8.5625C15 7.10417 14.5243 5.89583 13.5729 4.9375C12.6215 3.97917 11.4306 3.5 10 3.5C8.56944 3.5 7.37847 3.97917 6.42708 4.9375C5.47569 5.89583 5 7.10417 5 8.5625C5 9.54861 5.42014 10.6667 6.26042 11.9167C7.10069 13.1667 8.34722 14.5347 10 16.0208ZM10 18C7.81986 16.179 6.19146 14.4877 5.11479 12.926C4.03826 11.3642 3.5 9.90972 3.5 8.5625C3.5 6.70139 4.11806 5.14236 5.35417 3.88542C6.59028 2.62847 8.13542 2 9.98958 2C11.8438 2 13.3924 2.62847 14.6354 3.88542C15.8785 5.14236 16.5 6.70139 16.5 8.5625C16.5 9.90972 15.9653 11.3611 14.8958 12.9167C13.8264 14.4722 12.1944 16.1667 10 18Z"
                        fill="currentColor" />
                    </g>
                  </svg>
                  <h3>Tashkent, Parkent street 327</h3>
                </a><a class="contact__item-link" href="https://maps.app.goo.gl/Qh8VSzPJHvmbTETdA">On the map</a>
              </div>
              <div class="contact__list-item">
                <h3 class="contact__item-title">Phone number to contact the operator</h3><a class="button-rev"
                  href="tel:+998712003005"><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <mask id="mask0_25_4808" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                      height="20">
                      <rect width="20" height="20" fill="#D9D9D9" />
                    </mask>
                    <g mask="url(#mask0_25_4808)">
                      <path
                        d="M2.89603 16.8958L1.2502 15.2292C1.05575 15.0347 0.955058 14.8021 0.948113 14.5312C0.941169 14.2604 1.03492 14.0278 1.22936 13.8333C2.32659 12.6528 3.6252 11.7188 5.1252 11.0312C6.6252 10.3438 8.2502 10 10.0002 10C11.7502 10 13.3752 10.3438 14.8752 11.0312C16.3752 11.7188 17.6738 12.6528 18.771 13.8333C18.9655 14.0278 19.0592 14.2604 19.0523 14.5312C19.0453 14.8021 18.9446 15.0347 18.7502 15.2292L17.1044 16.8958C16.9516 17.0486 16.7571 17.1458 16.521 17.1875C16.2849 17.2292 16.0488 17.1667 15.8127 17L13.4169 15.2917C13.2919 15.1944 13.1912 15.0729 13.1148 14.9271C13.0384 14.7813 13.0002 14.6344 13.0002 14.4865V11.9583C12.5141 11.8056 12.0228 11.691 11.5264 11.6146C11.0301 11.5382 10.5213 11.5 10.0002 11.5C9.47908 11.5 8.97034 11.5382 8.47395 11.6146C7.97756 11.691 7.48631 11.8056 7.0002 11.9583V14.4865C7.0002 14.6344 6.962 14.7813 6.88561 14.9271C6.80922 15.0729 6.70853 15.1944 6.58353 15.2917L4.1877 17C3.95159 17.1667 3.712 17.2257 3.46895 17.1771C3.22589 17.1285 3.03492 17.0347 2.89603 16.8958ZM5.5002 12.3542C4.98631 12.6042 4.48978 12.9028 4.01061 13.25C3.53145 13.5972 3.07659 13.9722 2.64603 14.375L3.66686 15.3958L5.5002 14.0833V12.3542ZM14.5002 12.3542V14.0833L16.3335 15.3958L17.3544 14.375C16.9238 13.9583 16.4724 13.5799 16.0002 13.2396C15.528 12.8993 15.028 12.6042 14.5002 12.3542ZM9.2502 6V2H10.7502V6H9.2502ZM14.4377 8.22917L13.3752 7.16667L16.2085 4.33333L17.271 5.39583L14.4377 8.22917ZM5.5627 8.22917L2.72936 5.39583L3.79186 4.33333L6.6252 7.16667L5.5627 8.22917Z"
                        fill="currentColor" />
                    </g>
                  </svg>
                  <h3>+998 71 200 30 05</h3>
                </a><a class="contact__item-link" href="tel:+998712003005">Call me back</a>
              </div>
            </div>
            <div class="contact__list-right"> <a class="button-rev" href="https://t.me/alati_uzb"><svg width="20"
                  height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_25_4827)">
                    <path
                      d="M10 0C15.5225 0 20 4.4775 20 10C20 15.5225 15.5225 20 10 20C4.4775 20 0 15.5225 0 10C0 4.4775 4.4775 0 10 0ZM14.9483 6.42556C15.2133 4.83481 14.6818 4.69732 12.9498 5.41548C12.2893 5.68994 7.50599 7.67256 3.80941 9.29873C2.88765 9.70435 2.66236 10.1264 3.61163 10.4521C3.85806 10.5367 4.49108 10.7589 5.13944 10.945C5.99721 11.1914 6.47528 11.0365 6.97292 10.6986C7.00853 10.6744 7.07055 10.6327 7.1552 10.5761L7.29868 10.4803C7.80379 10.1432 8.77707 9.49639 9.815 8.80737L10.1445 8.5887C10.2547 8.51554 10.3651 8.44223 10.4754 8.36908L10.8049 8.1504C11.1329 7.93281 11.4546 7.71942 11.7573 7.51866C11.9667 7.37958 12.1947 7.66462 12.0133 7.83808C11.7969 8.04449 11.5709 8.2601 11.3425 8.478L11.0679 8.74013C9.92269 9.83328 8.79147 10.9148 8.57952 11.1222C7.89912 11.7879 8.31062 12.1611 8.72017 12.4574L8.81786 12.5272L8.86563 12.5611C8.90586 12.5899 8.95819 12.6265 9.02056 12.6696L9.2358 12.8169C10.0402 13.3639 11.6456 14.4256 12.0127 14.668C12.9287 15.2725 13.5115 15.107 13.7711 13.7098C14.209 11.3538 14.7579 7.5689 14.9483 6.42556Z"
                      fill="currentColor" />
                  </g>
                  <defs>
                    <clipPath id="clip0_25_4827">
                      <rect width="20" height="20" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
                <h3>@alati_uzb</h3>
              </a><a class="button-rev" href="#"><svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <mask id="mask0_25_4811" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
                    height="20">
                    <rect width="20" height="20" fill="#D9D9D9" />
                  </mask>
                  <g mask="url(#mask0_25_4811)">
                    <path
                      d="M10.75 1.41667L17.25 5.14583C17.4861 5.28472 17.6701 5.46528 17.8021 5.6875C17.934 5.90972 18 6.15972 18 6.4375V15.5C18 15.9125 17.8531 16.2656 17.5594 16.5594C17.2656 16.8531 16.9125 17 16.5 17H3.5C3.0875 17 2.73438 16.8531 2.44063 16.5594C2.14688 16.2656 2 15.9125 2 15.5V6.4375C2 6.15972 2.06597 5.90972 2.19792 5.6875C2.32986 5.46528 2.51389 5.28472 2.75 5.14583L9.25 1.41667C9.48042 1.27778 9.72896 1.20833 9.99563 1.20833C10.2624 1.20833 10.5139 1.27778 10.75 1.41667ZM10 10.2292L16.5 6.5L10 2.77083L3.5 6.5L10 10.2292Z"
                      fill="currentColor" />
                  </g>
                </svg>
                <h3>@offer@mali.uz</h3>
              </a></div>
          </div>
          <div class="form">
            <h3 id="program" class="form-title">Feedback</h3>
            <form class="form__box">
              <div class="form__box-top">
                <div class="form__box-input">
                  <input class="input" type="text" id="name" placeholder="Name">
                </div>
                <div class="form__box-input">
                  <input class="input" type="number" id="phone" placeholder="Phone number">
                </div>
                <div class="form__box-input">
                  <input class="input" type="email" id="email" placeholder="Е-mail">
                </div>
              </div>
              <div class="form__box-bottom">
                <div class="form__box-message">
                  <textarea class="input" name="message" id="message" placeholder="Ваше сообщение" cols="49" rows="5"></textarea>
                </div>
                <button class="form__box-button button" type="button" onclick="send_message('en')">Send</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {{!-- <section class="program">
      <div class="program-item third"><img src="/img/pelmeni/item1.png" alt="item" draggable="false"></div>
      <div class="program-item fourth"><img src="/img/pelmeni/item2.png" alt="item" draggable="false"></div>
      <div class="program-wrapper second">
        <div class="program-left">
          <h3 class="program-title">Partnership Program</h3>
          <p class="program-text">Mali actively collaborates with leading retailers and HoReCa industry representatives,
            such as:</p>
        </div>
        <div class="program__right">
          <h3 class="program__right-title">Fill out the application to join the program</h3>
          <p class="program__right-text">and receive exclusive partnership conditions, including specialized product
            lines and marketing support.</p>
          <div class="program__right-bottom">
            <a class="button-other" href="#">
              <h3>Presentation</h3><svg width="30" height="30" viewBox="0 0 30 30" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <rect width="30" height="30" fill="currentColor" />
                <mask id="mask0_102_791" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="5" y="5" width="20"
                  height="20">
                  <rect x="5" y="5" width="20" height="20" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_102_791)">
                  <path
                    d="M11 19H17V17.5H11V19ZM11 15.75H19V14.25H11V15.75ZM11 12.5H19V11H11V12.5ZM9.5 22C9.0875 22 8.73437 21.8531 8.44062 21.5594C8.14687 21.2656 8 20.9125 8 20.5V9.5C8 9.0875 8.14687 8.73438 8.44062 8.44063C8.73437 8.14688 9.0875 8 9.5 8H20.5C20.9125 8 21.2656 8.14688 21.5594 8.44063C21.8531 8.73438 22 9.0875 22 9.5V20.5C22 20.9125 21.8531 21.2656 21.5594 21.5594C21.2656 21.8531 20.9125 22 20.5 22H9.5ZM9.5 20.5H20.5V9.5H9.5V20.5Z"
                    fill="white" />
                </g>
              </svg>
            </a>
            <a class="button" href="#">apply now</a></div>
        </div>
      </div>
    </section> --}}
    <section class="partners">
      <div class="partners-item"><img src="/img/pelmeni/item2.png" alt="item" draggable="false"></div>
      <div class="container">
        <h2 class="partners-title">Our partners</h2>
        <div class="partners__list first">
          <div class="partners__list-item one">Dodo pizza</div>
          <div class="partners__list-item two">Alpha Plaza Hotel & SPA</div>
          <div class="partners__list-item two">Panarams Tashkent Hotel</div>
          <div class="partners__list-item one">The Shahar</div>
          <div class="partners__list-item three">Asia Tashkent Hotel</div>
          <div class="partners__list-item four">Ariston Park | Tashkent</div>
          <div class="partners__list-item four">Crowne Plaza Tashkent</div>
          <div class="partners__list-item five">InterContinental Tashkent - IHG</div>
          <div class="partners__list-item six">Hotel Orient Plaza</div>
          <div class="partners__list-item six">Marriott tashkent hall</div>
          <div class="partners__list-item five">Ichan Qala Premium Class Hotel</div>
          <div class="partners__list-item seven">Korzinka</div>
          <div class="partners__list-item seven">Makro</div>
          <div class="partners__list-item eight">Bi1</div>
          <div class="partners__list-item seven">Baraka</div>
          <div class="partners__list-item nine">Havas</div>
          <div class="partners__list-item ten">Magnum</div>
        </div>
      </div>
      <div class="partners-slider">
        <div class="swiper partnerSwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide"> </div>
            <div class="swiper-slide"> </div>
            <div class="swiper-slide"> </div>
            <div class="swiper-slide"> </div>
            <div class="partners-inner">
              <div class="partners__list">
                <div class="partners__list-item two">Alpha Plaza Hotel & SPA</div>
                <div class="partners__list-item four">Dodo pizza</div>
                <div class="partners__list-item five">Ichan Qala Premium Class Hotel</div>
                <div class="partners__list-item six">Hotel Orient Plaza</div>
                <div class="partners__list-item three">Baraka</div>
                <div class="partners__list-item eight">Bi1</div>
                <div class="partners__list-item ten">Panarams Tashkent Hotel</div>
                <div class="partners__list-item one">Korzinka</div>
                <div class="partners__list-item five">InterContinental Tashkent - IHG</div>
                <div class="partners__list-item six">Asia Tashkent Hotel</div>
                <div class="partners__list-item nine">Havas</div>
                <div class="partners__list-item seven">Makro</div>
                <div class="partners__list-item two">Crowne Plaza Tashkent</div>
                <div class="partners__list-item eleven">The Shahar</div>
                <div class="partners__list-item twelve">Ariston Park | Tashkent</div>
                <div class="partners__list-item six">Marriott tashkent hall</div>
                <div class="partners__list-item nine">Magnum</div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination partnerPagination"></div>
        </div>
      </div>
    </section>
    <section class="call">
      <div class="call-wrapper">
        <h3 class="call-title">Call us if you have any questions</h3>
        <div class="call-item">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <mask id="mask0_55_2076" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20"
              height="20">
              <rect width="20" height="20" fill="#D9D9D9" />
            </mask>
            <g mask="url(#mask0_55_2076)">
              <path
                d="M2.89579 16.8958L1.24995 15.2292C1.05551 15.0347 0.954813 14.8021 0.947869 14.5312C0.940925 14.2604 1.03467 14.0278 1.22912 13.8333C2.32634 12.6528 3.62495 11.7188 5.12495 11.0312C6.62495 10.3438 8.24995 10 9.99995 10C11.75 10 13.375 10.3438 14.875 11.0312C16.375 11.7188 17.6736 12.6528 18.7708 13.8333C18.9652 14.0278 19.059 14.2604 19.052 14.5312C19.0451 14.8021 18.9444 15.0347 18.75 15.2292L17.1041 16.8958C16.9513 17.0486 16.7569 17.1458 16.5208 17.1875C16.2847 17.2292 16.0486 17.1667 15.8125 17L13.4166 15.2917C13.2916 15.1944 13.1909 15.0729 13.1145 14.9271C13.0381 14.7813 13 14.6344 13 14.4865V11.9583C12.5138 11.8056 12.0226 11.691 11.5262 11.6146C11.0298 11.5382 10.5211 11.5 9.99995 11.5C9.47884 11.5 8.97009 11.5382 8.4737 11.6146C7.97731 11.691 7.48606 11.8056 6.99995 11.9583V14.4865C6.99995 14.6344 6.96176 14.7813 6.88537 14.9271C6.80898 15.0729 6.70829 15.1944 6.58329 15.2917L4.18745 17C3.95134 17.1667 3.71176 17.2257 3.4687 17.1771C3.22565 17.1285 3.03467 17.0347 2.89579 16.8958ZM5.49995 12.3542C4.98606 12.6042 4.48954 12.9028 4.01037 13.25C3.5312 13.5972 3.07634 13.9722 2.64579 14.375L3.66662 15.3958L5.49995 14.0833V12.3542ZM14.5 12.3542V14.0833L16.3333 15.3958L17.3541 14.375C16.9236 13.9583 16.4722 13.5799 16 13.2396C15.5277 12.8993 15.0277 12.6042 14.5 12.3542ZM9.24995 6V2H10.75V6H9.24995ZM14.4375 8.22917L13.375 7.16667L16.2083 4.33333L17.2708 5.39583L14.4375 8.22917ZM5.56245 8.22917L2.72912 5.39583L3.79162 4.33333L6.62495 7.16667L5.56245 8.22917Z"
                fill="white" />
            </g>
          </svg>
          <h3>+998 71 200 30 05</h3>
        </div><a class="button other" href="tel:+998712003005">callback</a>
      </div>
    </section>
    {{> en/footer}}
  </div>